:root {
  --desktop-menu-height: 48px;
  --mobile-menu-height: 60px;
  --margin-y: 1.75rem;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  padding-right: 0px !important;
}

body,
html {
  input:-internal-autofill-selected {
    background-color: $input-bg !important;
  }
}

#master-layout {
  transition: 0.3s linear background-color, 0.3s linear color;
}

.external-article-content {
  video {
    max-width: 100% !important;
  }
}

a:hover {
  text-decoration: none;
}

.global-limiter {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: $global-limiter-max-width !important;
}

// full spaces of items
@include create-padding-classes($global-item-space-map, global-item);

// full spaces os boxes
@include create-padding-classes($global-box-space-map, global-box);

// space differences of boxes and items
@include create-padding-classes(
  $global-box-space-difference-map,
  global-box-difference
);

// full spaces of sections
@include create-padding-classes($global-section-space-map, global-section);

// space differences of sections and boxes
@include create-padding-classes(
  $global-section-space-difference-map,
  global-section-difference
);

// space differences of limiters and sections
@include create-padding-classes(
  $global-limiter-space-difference-map,
  global-limiter-difference
);

// separator classes
@include create-border-classes(global-separated);

.with-vertical-separator {
  position: relative;
  margin-left: (-$global-separator-width);

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: (2 * $global-separator-width);
    background-color: $body-bg;
  }
}

#master-layout {
  position: relative;
}

.desktop {
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}

.mobile {
  @include media-breakpoint-up(md) {
    display: none !important;
  }
}

a.a-global {
  color: inherit;
  transition: text-decoration 0.25s;
  &:hover,
  &:active {
    color: inherit;
  }
}

.display-as-tag > span {
  white-space: nowrap;
  display: inline-block;
}

.tags {
  a:hover .display-as-tag span:first-of-type {
    text-decoration: underline;
  }
  .tag-n-topic {
    display: inline-flex;
    flex-wrap: wrap;
    > a {
      display: inline-block;
    }
  }
}
html.dark-mode .display-as-tag,
.display-as-tag {
  font: 500 0.75rem $serif;
  color: $red;
  transition: text-decoration 0.25s;
  margin-right: 0.4rem;

  &.hide-underline {
    text-decoration: none;
  }
  &.has-background {
    padding: 0.25rem 0.5rem;
    background-color: $gray-250;
  }
  &.is-highlighted {
    background-color: $red;
    color: $white;
  }
  &.is-sensitive {
    background-color: $gray-600;
    color: $white;
  }
  &.is-very-sensitive {
    background-color: $black;
    color: $white;
  }
  &.has-black-text {
    color: $gray-850;
  }
  &.timestamp,
  &.featured-tag {
    display: inline-block;
    white-space: nowrap;
  }
}

.btn-void {
  border-color: $gray-260 !important;
  color: $gray-850 !important;
  margin-top: 0.75rem;
  background-color: transparent;
  padding: 0.75rem 0;
  font: 700 0.875rem $serif;
  &:hover {
    background-color: $gray-260;
  }
  svg {
    width: 28px;
    height: 28px;
    margin: 0 0.5rem;
  }
}

.article-buttons {
  display: flex;
  align-items: center;
  ul.pagination {
    justify-content: center;
    margin-top: 0.75rem;
    margin-bottom: unset;
    [aria-label] {
      color: $red;
    }
  }
  a.btn-void svg path {
    fill: $red;
  }
}

.random-button {
  svg path {
    fill: $red;
  }
}

aside {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .sticky-box {
      flex: auto;
    }
    .sticky {
      position: -webkit-sticky;
      position: sticky;
      top: calc(var(--desktop-menu-height) + var(--margin-y));
      margin-bottom: var(--margin-y);
    }
  }
}

.preview-alert {
  background: $warning;
  padding: 2rem;
  margin: 2rem;
  border-radius: 10px;

  box-shadow: 0 0 0 2px #000, 0 0 0 5px $warning, 0 0 0 11px #000;
  text-align: center;
  @include media-breakpoint-down(sm) {
    margin-top: 5rem;
    margin-bottom: 1rem;
  }
}

.master-banner-wrapper {
  position: relative;
  max-width: $global-limiter-max-width;
  margin: 0 auto;

  [class^="master-banner-wrapper-"] {
    display: block;
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    background-repeat: no-repeat;
  }

  .master-banner-wrapper-before {
    left: -60px;
  }

  .master-banner-wrapper-after {
    left: $global-limiter-max-width;
  }

  .master-banner-wrapper-before,
  .master-banner-wrapper-after {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}
