@use "sass:map";

$_masonry-default-base-width: 100%;
$_masonry-default-corrected-base-width: 99.99%;

@function masonry-gutter-width(
  $right-space,
  $left-space,
  $with-column-separator: true,
  $separator-width: $global-separator-width
) {
  @if $with-column-separator {
    @return (calc((#{$right-space} + #{$left-space}) + #{$separator-width}));
  } @else {
    @return $right-space;
  }
}

@function masonry-column-width(
  $number-of-columns,
  $right-space,
  $left-space,
  $with-column-separator: true,
  $separator-width: $global-separator-width,
  $corrected-base-width: $_masonry-default-corrected-base-width
) {
  @return (
    calc(
      (
          #{$corrected-base-width} - (#{masonry-gutter-width(
                  $right-space,
                  $left-space,
                  $with-column-separator,
                  $separator-width
                )} * #{$number-of-columns - 1})
        ) / #{$number-of-columns}
    )
  );
}

@function masonry-column-position-left(
  $column-index,
  $number-of-columns,
  $right-space,
  $left-space,
  $with-column-separator: true,
  $separator-width: $global-separator-width,
  $base-width: $_masonry-default-base-width
) {
  @return (
    calc(
      (
          #{$base-width * $column-index} + (#{masonry-gutter-width(
                  $right-space,
                  $left-space,
                  $with-column-separator,
                  $separator-width
                )} * #{$column-index})
        ) / #{$number-of-columns}
    )
  );
}

@function masonry-column-separator-start(
  $number-of-columns,
  $right-space,
  $left-space,
  $separator-width: $global-separator-width,
  $corrected-base-width: $_masonry-default-corrected-base-width
) {
  @return (
    calc(
      (
          #{$corrected-base-width} + #{$right-space} - #{(
              $number-of-columns - 1
            ) * $left-space} - #{($number-of-columns - 1) * $separator-width}
        ) / #{$number-of-columns}
    )
  );
}

@function masonry-column-separator-end(
  $number-of-columns,
  $right-space,
  $left-space,
  $separator-width: $global-separator-width,
  $corrected-base-width: $_masonry-default-corrected-base-width
) {
  @return (
    calc(
      (
          #{$corrected-base-width} + #{$right-space} - #{(
              $number-of-columns - 1
            ) * $left-space} + #{$separator-width}
        ) / #{$number-of-columns}
    )
  );
}

@function masonry-column-separator-top(
  $top-space,
  $with-top-separator: true,
  $separator-width: $global-separator-width
) {
  @if $with-top-separator {
    @return (calc(#{$separator-width} + #{$top-space}));
  } @else {
    @return $top-space;
  }
}

@function masonry-column-separator-height(
  $top-space,
  $bottom-space,
  $with-top-separator: true,
  $separator-width: $global-separator-width
) {
  @if $with-top-separator {
    @return (
      calc(100% - (#{$separator-width} + (#{$top-space} + #{$bottom-space})))
    );
  } @else {
    @return (calc(100% - (#{$top-space} + #{$bottom-space})));
  }
}

@mixin masonry-column-separators(
  $box-top-space,
  $box-bottom-space,
  $number-of-columns,
  $item-right-space,
  $item-left-space,
  $with-top-separator: true,
  $separator-width: $global-separator-width,
  $separator-color: $global-separator-color,
  $corrected-base-width: $_masonry-default-corrected-base-width
) {
  $_repeat-start: 0;
  $_repeat-end: masonry-column-position-left(
    1,
    $number-of-columns,
    $item-right-space,
    $item-left-space,
    true,
    $separator-width,
    $corrected-base-width
  );
  $_separator-start: masonry-column-separator-start(
    $number-of-columns,
    $item-right-space,
    $item-left-space,
    $separator-width,
    $corrected-base-width
  );
  $_separator-end: masonry-column-separator-end(
    $number-of-columns,
    $item-right-space,
    $item-left-space,
    $separator-width,
    $corrected-base-width
  );

  background-position: 0
    masonry-column-separator-top(
      $box-top-space,
      $with-top-separator,
      $separator-width
    );
  background-size: 100%
    masonry-column-separator-height(
      $box-top-space,
      $box-bottom-space,
      $with-top-separator,
      $separator-width
    );
  background-image: repeating-linear-gradient(
    to right,
    transparent $_repeat-start $_separator-start,
    $separator-color $_separator-start $_separator-end,
    transparent $_separator-end $_repeat-end
  );
}

// Default parameter values:
//   $box-space-map: (t: (xs: 0), r: (xs: 0), b: (xs: 0), l: (xs: 0))
//   $with-top-space-map: (xs: true)
//   $with-bottom-space-map: (xs: true)
//   $number-of-columns-map: (xs: 1)
//   $item-space-map: (t: (xs: 0), r: (xs: 0), b: (xs: 0), l: (xs: 0))
//   $with-top-separator (horizontal line on masonry top): true
//   $with-column-separator (vertical lines between columns): true
//   $with-item-separator (horizontal lines between items): true
//   $stamp-column-index-map: (xs: 0)
//   $separator-width: $global-separator-width
//   $separator-color: $global-separator-color
//   $directions: map.keys($global-directions)
//   $breakpoints: $global-breakpoints
//   $first-breakpoint: $global-first-breakpoint
@mixin masonry-layout-declarations(
  $box-space-map: (),
  $with-top-space-map: (),
  $with-bottom-space-map: (),
  $number-of-columns-map: (),
  $item-space-map: (),
  $with-top-separator: true,
  $with-column-separator: true,
  $with-item-separator: true,
  $stamp-column-index-map: (),
  $separator-width: $global-separator-width,
  $separator-color: $global-separator-color,
  $directions: map.keys($global-directions),
  $breakpoints: $global-breakpoints,
  $first-breakpoint: $global-first-breakpoint
) {
  // normalize data

  $_box-space-map: normalize-space-direction-map(
    $box-space-map,
    $directions,
    $breakpoints,
    $first-breakpoint
  );
  $_box-top-space-map: map.get($_box-space-map, t);
  // $_box-right-space-map: map.get($_box-space-map, r);
  $_box-bottom-space-map: map.get($_box-space-map, b);
  // $_box-left-space-map: map.get($_box-space-map, l);

  $_with-top-space-map: normalize-map(
    $with-top-space-map,
    $breakpoints,
    $first-breakpoint,
    true
  );

  $_with-bottom-space-map: normalize-map(
    $with-bottom-space-map,
    $breakpoints,
    $first-breakpoint,
    true
  );

  $_number-of-columns-map: normalize-map(
    $number-of-columns-map,
    $breakpoints,
    $first-breakpoint,
    1
  );

  $_item-space-map: normalize-space-direction-map(
    $item-space-map,
    $directions,
    $breakpoints,
    $first-breakpoint
  );
  $_item-top-space-map: map.get($_item-space-map, t);
  $_item-right-space-map: map.get($_item-space-map, r);
  $_item-bottom-space-map: map.get($_item-space-map, b);
  $_item-left-space-map: map.get($_item-space-map, l);

  $_stamp-column-index-map: normalize-map(
    $stamp-column-index-map,
    $breakpoints,
    $first-breakpoint,
    0
  );

  // declarations

  box-sizing: content-box;
  width: 100%;
  background-origin: border-box;

  @each $_breakpoint in $breakpoints {
    @include media-breakpoint-up($_breakpoint) {
      @if map.get($_with-top-space-map, $_breakpoint) or $with-top-separator {
        margin-top: 0;
      } @else {
        margin-top: (-(map.get($_box-top-space-map, $_breakpoint)));
      }
      @if map.get($_with-bottom-space-map, $_breakpoint) {
        margin-bottom: 0;
      } @else {
        margin-bottom: (-(map.get($_box-bottom-space-map, $_breakpoint)));
      }
    }
  }

  @if $with-top-separator {
    @if $with-item-separator {
      @each $_breakpoint in $breakpoints {
        @include media-breakpoint-up($_breakpoint) {
          border-top: calc(
              #{map.get($_box-top-space-map, $_breakpoint)} - #{map.get(
                  $_item-top-space-map,
                  $_breakpoint
                )}
            )
            solid transparent;
        }
      }

      &::before {
        z-index: 8;
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: $separator-width;
        background-color: $separator-color;

        @each $_breakpoint in $breakpoints {
          @include media-breakpoint-up($_breakpoint) {
            top: calc(
              #{map.get($_item-top-space-map, $_breakpoint)} - #{map.get(
                  $_box-top-space-map,
                  $_breakpoint
                )}
            );
          }
        }
      }
    } @else {
      @each $_breakpoint in $breakpoints {
        @include media-breakpoint-up($_breakpoint) {
          border-top: calc(
              #{$separator-width} + #{map.get(
                  $_box-top-space-map,
                  $_breakpoint
                )}
            )
            solid transparent;
        }
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: $separator-width;
        background-color: $separator-color;

        @each $_breakpoint in $breakpoints {
          @include media-breakpoint-up($_breakpoint) {
            top: calc(
              #{- $separator-width} - #{map.get(
                  $_box-top-space-map,
                  $_breakpoint
                )}
            );
          }
        }
      }
    }
  } @else {
    @if $with-item-separator {
      @each $_breakpoint in $breakpoints {
        @include media-breakpoint-up($_breakpoint) {
          border-top: calc(
              (
                  #{map.get($_box-top-space-map, $_breakpoint)} - #{map.get(
                      $_item-top-space-map,
                      $_breakpoint
                    )}
                ) - #{$separator-width}
            )
            solid transparent;
        }
      }
    } @else {
      @each $_breakpoint in $breakpoints {
        @include media-breakpoint-up($_breakpoint) {
          border-top: map.get($_box-top-space-map, $_breakpoint) solid
            transparent;
        }
      }
    }
  }

  @each $_breakpoint in $breakpoints {
    @include media-breakpoint-up($_breakpoint) {
      border-bottom: calc(
          #{map.get($_box-bottom-space-map, $_breakpoint)} - #{map.get(
              $_item-bottom-space-map,
              $_breakpoint
            )}
        )
        solid transparent;
    }
  }

  @if $with-column-separator {
    background-repeat: no-repeat;

    @each $_breakpoint in $breakpoints {
      @include media-breakpoint-up($_breakpoint) {
        @include masonry-column-separators(
          map.get($_box-top-space-map, $_breakpoint),
          map.get($_box-bottom-space-map, $_breakpoint),
          map.get($_number-of-columns-map, $_breakpoint),
          map.get($_item-right-space-map, $_breakpoint),
          map.get($_item-left-space-map, $_breakpoint),
          $with-top-separator,
          $separator-width,
          $separator-color
        );
      }
    }
  }

  @if $with-item-separator {
    &::after {
      z-index: 4;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: (2 * $separator-width);
      background-color: $body-bg;
    }
  }

  &-column,
  &-stamp,
  &-item {
    @each $_breakpoint in $breakpoints {
      @include media-breakpoint-up($_breakpoint) {
        width: masonry-column-width(
          map.get($_number-of-columns-map, $_breakpoint),
          map.get($_item-right-space-map, $_breakpoint),
          map.get($_item-left-space-map, $_breakpoint),
          $with-column-separator,
          $separator-width
        );
      }
    }
  }

  &-gutter {
    @each $_breakpoint in $breakpoints {
      @include media-breakpoint-up($_breakpoint) {
        width: masonry-gutter-width(
          map.get($_item-right-space-map, $_breakpoint),
          map.get($_item-left-space-map, $_breakpoint),
          $with-column-separator,
          $separator-width
        );
      }
    }
  }

  &-stamp,
  &-item {
    @if $with-item-separator {
      border-top: $separator-width solid $separator-color;

      @each $_breakpoint in $breakpoints {
        @include media-breakpoint-up($_breakpoint) {
          padding: map.get($_item-top-space-map, $_breakpoint) 0
            map.get($_item-bottom-space-map, $_breakpoint) 0;
        }
      }
    } @else {
      @each $_breakpoint in $breakpoints {
        @include media-breakpoint-up($_breakpoint) {
          padding: 0 0 map.get($_item-bottom-space-map, $_breakpoint) 0;
        }
      }
    }
  }

  &-stamp {
    position: absolute;
    top: 0;

    @each $_breakpoint in $breakpoints {
      @include media-breakpoint-up($_breakpoint) {
        left: masonry-column-position-left(
          map.get($_stamp-column-index-map, $_breakpoint),
          map.get($_number-of-columns-map, $_breakpoint),
          map.get($_item-right-space-map, $_breakpoint),
          map.get($_item-left-space-map, $_breakpoint),
          $with-column-separator,
          $separator-width
        );
      }
    }
  }
}
