@use "sass:map";

.footer {
  $_space: 2.75rem;
  $_border: 1px solid rgba($default-gray, 0.1);

  display: block;
  position: relative;
  padding-top: 0.25rem;
  line-height: 1.5rem;
  font-size: 0.875rem;

  @each $_breakpoint in $global-breakpoints {
    @include media-breakpoint-up($_breakpoint) {
      margin-top: calc(
        #{$_space} - #{map.get(
            map.get($global-section-space-map, b),
            $_breakpoint
          )}
      );
    }
  }

  h6,
  .facebook-card-headline {
    margin-bottom: 1rem;
    line-height: 1.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    font-family: $serif;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    padding: 0.5rem 0;
  }

  &__bg {
    background-color: $gray-250;
  }

  &__body {
    padding: 0 0 4rem 0;

    @include media-breakpoint-up(lg) {
      padding: 4rem 0;
    }

    > div {
      margin-right: auto;
    }
  }

  &__logo-and-social {
    display: flex;
    justify-content: space-between;
    border-bottom: $_border;
    padding: 1.25rem 0;
    width: 100%;

    .fmc-logo {
      font-size: 1.5rem;
    }

    h6 {
      display: none;
    }

    .social-icons {
      margin: -0.25rem -0.25rem -0.25rem 0.25rem;
    }

    @include media-breakpoint-up(lg) {
      display: block;
      border: 0;
      padding: 0;
      width: auto;

      .fmc-logo {
        margin-bottom: 2.75rem;
        font-size: 2rem;
      }

      h6 {
        display: block;
      }

      .social-icons {
        margin: -0.25rem;
      }
    }
  }

  &__media-divisions {
    padding-top: 2.75rem;
    padding-right: 4rem;

    @include media-breakpoint-up(sm) {
      padding-right: 0;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 0;
    }

    a.logo {
      color: $gray-650;
      font-size: 0.875rem;
      font-weight: 500;
      font-family: $sans;

      &:hover {
        color: $gray-850;
      }

      .text {
        margin-left: 0.75rem;
      }
    }
  }

  &__informations {
    padding-top: 2.75rem;
    padding-right: 4rem;

    @include media-breakpoint-up(sm) {
      padding-right: 0;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 0;
    }

    a {
      display: inline-block;
      color: $gray-650;
      font-size: 0.875rem;
      font-weight: 500;
      font-family: $sans;

      &:hover {
        color: $gray-850;
      }
    }
  }

  &__facebook-and-newsletter {
    padding-top: 2.75rem;
    width: 100%;

    @include media-breakpoint-up(md) {
      width: auto;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 0;
      min-width: 23.5%;
    }

    .custom-divider .line {
      background-color: rgba($gray-850, 0.1);
    }
  }

  &__copyright {
    border-top: $_border;
    font-size: 0.75rem;
  }
}
