@use "sass:map";
@import "../layouts/masonry-utilities";

.front-page-news-1 {
  &__leading-article {
    padding-bottom: 2.25rem;
  }

  &__masonry {
    @include masonry-layout-declarations(
      $box-space-map: $global-box-space-map,
      // $with-top-space-map: (xs: true),
        $with-bottom-space-map:
        (
          xs: false,
        ),
      $number-of-columns-map: (
        xs: 1,
        md: 2,
      ),
      $item-space-map: (
        t: map.get($global-item-space-map, t),
        r: map.get($global-item-space-map, t),
        b: map.get($global-item-space-map, b),
        l: map.get($global-item-space-map, t),
      ),
      // $with-top-separator: true,
      $with-column-separator: false,
      // $with-item-separator: true,
      // $stamp-column-index-map: /* (xs: 0) */,
      // $separator-width: $global-separator-width,
      // $separator-color: $global-separator-color,
      // $directions: map.keys($global-directions),
      // $breakpoints: $global-breakpoints,
      // $first-breakpoint: $global-first-breakpoint
    );
  }
}
