@use "sass:map";
@import "../layouts/masonry-utilities";

.front-page-news-2 {
  &__masonry {
    @include masonry-layout-declarations(
      $box-space-map: $global-box-space-map,
      $with-top-space-map: (
        xs: false,
      ),
      $with-bottom-space-map: (
        xs: false,
      ),
      $number-of-columns-map: (
        xs: 1,
        md: 2,
        xl: 1,
      ),
      $item-space-map: (
        t: map.get($global-item-space-map, t),
        r: map.get($global-item-space-map, t),
        b: map.get($global-item-space-map, b),
        l: map.get($global-item-space-map, t),
      ),
      $with-top-separator: false,
      $with-column-separator: false,
      // $with-item-separator: true,
      // $stamp-column-index-map: /* (xs: 0) */,
      // $separator-width: $global-separator-width,
      // $separator-color: $global-separator-color,
      // $directions: map.keys($global-directions),
      // $breakpoints: $global-breakpoints,
      // $first-breakpoint: $global-first-breakpoint
    );
  }

  &__text-advertisement-wrapper {
    z-index: 1;
    position: relative;
    padding: 2.25rem 0;
    background-color: $body-bg;

    @include media-breakpoint-down(sm) {
      background-color: unset;
    }

    $_margin-x-map: normalize-space-map(
      (
        xs: -1rem,
        xl: -1.25rem,
      )
    );

    @each $_breakpoint in $global-breakpoints {
      $_margin-y: (
        calc(
          #{-
            $global-separator-width} -
            #{map.get(map.get($global-item-space-map, t), $_breakpoint)} -
            #{map.get(map.get($global-item-space-map, b), $_breakpoint)}
        )
      );
      $_margin-x: map.get($_margin-x-map, $_breakpoint);

      @include media-breakpoint-up($_breakpoint) {
        margin: $_margin-y $_margin-x;
      }

      .text-advertisement {
        &__inner {
          @include media-breakpoint-up($_breakpoint) {
            padding-left: (-$_margin-x);
            padding-right: (-$_margin-x);
          }
        }
      }
    }
  }
}
