@import "../layouts/masonry-utilities";

.front-page-news-3 {
  &__masonry {
    @include masonry-layout-declarations(
      $box-space-map: $global-box-space-map,
      $with-top-space-map: (
        xs: false,
      ),
      $with-bottom-space-map: (
        xs: false,
      ),
      $number-of-columns-map: (
        xs: 1,
        md: 2,
        lg: 3,
      ),
      $item-space-map: $global-item-space-map,
      $with-top-separator: false,
      // $with-column-separator: true,
      // $with-item-separator: true,
      $stamp-column-index-map: (
        xs: 0,
        md: 1,
      ),
      // $separator-width: $global-separator-width,
      // $separator-color: $global-separator-color,
      // $directions: map.keys($global-directions),
      // $breakpoints: $global-breakpoints,
      // $first-breakpoint: $global-first-breakpoint
    );
  }
}
