#header,
.menu-mobile-modal {
  .logo-box {
    flex: auto;
    display: flex;
    align-items: center;
  }
  .logo-fmc {
    margin-right: auto;
    flex-wrap: wrap;

    nav {
      margin-right: 0.75rem;
      padding-right: 0.25rem;
      // sync with .social-icons below
      @include media-breakpoint-up(sm) {
        padding-right: 0.75rem;
        border-right: 1px solid $border-color;
      }
      @include media-breakpoint-up(md) {
        padding-right: 1rem;
        margin-right: 0;
        border-right: none;
      }
      @include media-breakpoint-up(lg) {
        margin-right: 1rem;
        border-right: 1px solid $border-color;
      }
      @include media-breakpoint-up(xl) {
        margin-right: 1.875rem;
        padding-right: 1.875rem;
      }
    }
    .slogan {
      margin-right: auto;
      font-family: $serif;
      font-weight: 500;
      @include media-breakpoint-up(sm) {
        white-space: nowrap;
      }
      @include media-breakpoint-up(md) {
        padding-right: 1rem;
        font-size: 1.125rem;
      }
      @include media-breakpoint-up(xl) {
        padding-right: 1.875rem;
      }
    }
  }
}

#header .menu-mobile .menu-fixed,
.menu-mobile-modal {
  .logo-fmc {
    flex-wrap: nowrap;
    // 448: between screen-width 320px (iphone SE) and 768px (bottom of size md)
    .logo {
      .icon {
        height: calc(26px + 12 * ((100vw - 320px) / (448)));
        width: calc(26px + 12 * ((100vw - 320px) / (448)));
      }
      .text {
        font-size: calc(16px + 16 * ((100vw - 320px) / (448))) !important;
        // // for alternative logos only (xmas, silvester,...)
        // @media (max-width: 350px) {
        //   margin-left: 0 !important;
        // }
      }
    }
    .slogan {
      font-size: calc(12px + 6 * ((100vw - 320px) / (448)));
    }
  }
}

#header {
  @include media-breakpoint-up(md) {
    position: -webkit-sticky;
    position: sticky;
    top: -100px;
    z-index: 999;
  }

  .top .container-fluid {
    height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  .apis {
    flex: 0;
    display: flex;
    align-items: center;
    margin: 0 2ch 0 0;
    #nameday-api {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 2.75rem;
      padding-right: 2.5ch;
      .date {
        font-weight: 500;
        font-size: 0.875rem;
        white-space: nowrap;
        color: $gray-850;
      }
      .name {
        font-size: 0.75rem;
        color: rgba($gray-850, 0.6);
      }
    }
    #weather-api {
      display: flex;
      align-items: center;
      height: 2.75rem;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      padding: 0 2.5ch;
      .weather {
        white-space: pre;
        a {
          font-weight: 500;
          font-size: 0.875rem;
          text-decoration: none;
          color: inherit;
        }
        img {
          height: 3rem;
          width: 3rem;
        }
      }
    }
  }

  .social-icons {
    flex: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    // sync with .logo-fmc nav above
    @include media-breakpoint-up(xl) {
      flex-wrap: nowrap;
    }
  }

  .menu-desktop {
    $bg-menu: $gray-240;
    background-color: $bg-menu;
    border-top: $global-separator;
    border-bottom: $global-separator;

    nav {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: $serif;
      font-size: 0.875rem;
      font-weight: 700;
      .logobox-textlinks-tags {
        --gap: 2.25rem;
        display: flex;
        align-items: center;
        overflow-x: hidden;
        width: calc(100% + 158px - 58px);
        transition: margin-left 1s;
        margin-left: -158px;
        &.sticking {
          margin-left: -1rem;
          padding-left: 1rem;
          width: calc(100% - 58px - 25px); // -25px is for dark-mode icon
        }
        .logobox {
          margin-right: var(--gap);
          transition: opacity 1s;
          opacity: 0;
          &.sticking {
            opacity: 1;
          }
          .slogan {
            display: none;
          }
        }
        .textlinks {
          flex: auto;
          display: flex;
          align-items: center;
          margin-right: auto;
          .a-global {
            margin-right: var(--gap);
            line-height: 2rem;
            white-space: nowrap;
            border-top: 2px solid transparent;
            padding-top: calc(0.5rem - 2px);
            padding-bottom: calc(0.5rem - 2px);
            transition: color 0.15s;
            &:hover {
              color: $red;
            }
          }
          .current {
            color: $red;
            border-top-color: $red;
            text-decoration: none;
          }
        }
        .tags {
          margin-left: auto;
          display: flex;
          align-items: center;
          .display-as-tag {
            height: fit-content;
            margin: 0 0.75rem;
            white-space: nowrap;
          }
        }
      }
    }

    .fade-if-search-is-focused {
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 3rem;
      background-image: linear-gradient(to right, transparent, $bg-menu 67%);
      opacity: 0;
      transition: opacity 1s;
      &.search-is-focused {
        opacity: 1;
      }
    }

    .search-desktop {
      &,
      button,
      input {
        position: absolute;
        right: -0.25rem;
        top: 50%;
        transform: translateY(-50%);
        outline: none;
        border: none;
        cursor: default;
      }
      button {
        background-color: unset;
        padding-left: 1.5rem;
        border-left: 1px solid $border-color;
        z-index: 2;
        &.button-if-menu-is-leaving-sticky {
          background-color: $bg-menu;
        }
        svg {
          width: 2rem;
          height: 2rem;
        }
      }
      input {
        width: 0;
        height: 3rem;
        background-color: $gray-250;
        border-color: $gray-250;
        padding: unset;
        transition: width 0.5s;
        z-index: 0;
      }
      input:focus,
      button:focus input {
        width: 300px;
        padding-left: 0.75rem;
      }
      .button-if-input-is-focused {
        pointer-events: none;
      }
    }
  }

  .menu-mobile {
    .menu-fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 4;
      border-bottom: 1px solid $border-color;
      background-color: $white;

      .menu-fixed-content {
        display: flex;
        align-items: center;
        height: var(--mobile-menu-height);
        @media (max-width: 350px) {
          padding-left: 0.5rem !important;
          // padding-left: 0 !important; // for alternative logos only (xmas, silvester,...)
          // padding-right: 0.75rem !important; // for alternative logos only (xmas, silvester,...)
        }
        &.sticking {
          .logo-fmc {
            flex-grow: 0;
            &,
            nav {
              margin-right: unset;
              .slogan {
                opacity: 0;
                width: 0;
                pointer-events: none;
              }
            }
          }
          .social-icons {
            opacity: 1;
            width: fit-content;
            pointer-events: auto;
          }
        }

        .slogan {
          transition: opacity 0.5s;
        }

        .social-icons {
          width: 0;
          flex-wrap: nowrap;
          margin: 0 auto;
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.5s;
        }

        .menu-mobile-modal {
          display: flex;
          align-items: center;
          width: 2.25rem;
          height: 2.25rem;
          margin-right: -0.5rem;
          padding: 0.5rem;
          cursor: pointer;
          svg {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }

    > *:nth-of-type(2) {
      margin-top: var(--mobile-menu-height);
    }

    .banner-wrapper {
      padding-top: 1px;
      border-bottom: 1px solid $border-color;
      .banner-slot {
        margin-top: 0.5rem;
        margin-bottom: 0.75rem;
      }
    }

    .apis {
      border-bottom: 1px solid $border-color;
      margin: unset;
      padding: 0.5rem;
      #weather-api {
        border-left: none;
        border-right: none;
        padding: unset;
        margin-left: auto;
      }
    }
  }
}

.menu-mobile-modal {
  $bg-modal: $gray-260;
  max-width: 100%;
  margin: unset;
  .modal-content {
    height: 100vh;
    border: none;
    border-radius: unset;
    background-color: $bg-modal;
  }
  .modal-header {
    padding-top: unset;
    padding-bottom: unset;
    align-items: center;
    border-bottom: unset;
    min-height: var(--mobile-menu-height);
    .logo-box {
      nav {
        padding-right: unset;
        display: flex;
        align-items: center;
      }
      .slogan {
        margin-left: 2ch;
      }
    }
    .close {
      padding: unset;
      margin: unset;
      span {
        font-weight: 400;
        font-size: 2.5rem;
      }
    }
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: unset;
    height: auto;
    background-color: $bg-modal;

    .search-mobile {
      position: relative;
      width: 100%;
      border-top: 1px solid rgba($gray-650, 0.1);
      border-bottom: 1px solid rgba($gray-650, 0.1);
      &:hover {
        background-color: rgba($gray-650, 0.1);
      }
      &:hover svg {
        transform: scale(1.05);
      }
      & * {
        outline: none;
        border: none;
        background-color: unset;
      }
      input {
        opacity: 0;
        width: 100%;
        height: 3.125rem;
        padding: 0 3rem 0 1rem;
        transition: opacity 0.25s;
        &:focus {
          opacity: 1;
          background-color: rgba($gray-650, 0.1);
        }
      }
      button {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: right 0.5s;
        z-index: 1;
        font: 700 1rem $serif;
        svg {
          width: 2rem;
          height: 2rem;
        }
        &.button-if-input-is-focused {
          right: 1.75rem;
          pointer-events: none;
        }
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 1rem 0;
      a {
        margin: 0.25rem;
        .display-as-tag {
          background-color: $white !important;
        }
      }
    }
    .a-global {
      display: block;
      text-align: center;
      width: 100%;
      font: 700 1rem / 2.5rem $serif;
      transition: background-color 0.25s;
      &:hover {
        background-color: $gray-450;
      }
    }
    .scroll-to-newsletter-button {
      display: block;
      text-align: center;
      width: 260px;
      line-height: 2.25rem !important;
      margin: 2rem auto 1rem;
      font: 500 0.875rem $sans;
      color: $gray-850;
      background-color: $white;
      border: none !important;
      padding: unset !important;
      transition: background-color 0.25s, color 0.25s;
      &:hover {
        color: $white;
        background-color: #5a6268;
        text-decoration: none;
      }
    }
  }
  .modal-footer {
    flex-direction: column;
    justify-content: center;
    border-top: unset;
    background-color: $bg-modal;
    .social-icons a {
      border: 1px solid rgba($gray-650, 0.2);
      border-radius: 50%;
    }
  }
  .newsletter {
    margin-top: 1rem;
    background-color: $gray-250;
    padding-left: 1.75rem !important;
    padding-right: 1.75rem !important;
  }
}
