.fehervar-printed {
  h5,
  .action {
    @include media-breakpoint-down(xs) {
      transform-origin: left;
      transform: scaleX(0.9);
      white-space: nowrap;
    }
  }

  .fehervari-hetilap {
    .fehervari-hetilap-date span {
      font-size: 14px !important;
    }

    .img-box {
      height: auto !important;

      img {
        position: relative;
        height: auto;
        max-width: 100%;
      }
    }
  }
}
