#custom-404 {
  .custom-top {
    text-align: center;
    padding: 4rem 0 1rem;
    color: $gray-850;
    h3 {
      //font-size: calc(24px + 8 * ((100vw - 360px) / (1000)));
      font-size: 2.25rem;
      font-weight: 400;
      font-family: $serif;
      margin-top: 0.5rem;
    }
  }

  .custom-bottom {
    text-align: center;
    padding: 1.25rem 0;
    font-size: 0.875rem;
    font-weight: 500;
  }
}
