#article {
  padding-top: var(--margin-y);

  .adult-container {
    overflow: hidden;
  }
  .main {
    position: relative;
    @include media-breakpoint-up(md) {
      padding-right: 4.4rem;
    }
    &.adult {
      filter: blur(15px);
    }
  }

  // need for copy-to-clipboard verification tooltip
  .left-aside {
    z-index: 1;
  }

  .right-aside {
    padding-left: 2rem;
  }

  h1 {
    font-size: calc(24px + 14 * ((100vw - 360px) / (1000)));
    font-weight: bold;
    &.titled-cover-image {
      position: relative;

      .gallery-box {
        @include media-breakpoint-up(md) {
          &,
          * {
            width: 100% !important;
            height: 500px !important;
          }
        }
        #ReactGridGallery iframe {
          // overwrites plugin's default: "position: fixed"
          position: absolute !important;
        }
      }

      img {
        object-fit: cover;
      }
      .title {
        position: absolute;
        display: block;
        bottom: -2px;
        width: calc(100% + 2px);
        background-color: rgba($white, 0.8);
        padding: 0.75rem 1.25rem;
        &.align-top {
          bottom: auto;
          top: 0px;
        }
      }
      .author {
        position: absolute;
        overflow: visible;
        right: 1.2rem;
        bottom: 0.3rem;
        width: 1px;
        height: 1px;
        > .author-inner {
          white-space: nowrap;
          font-size: 14px;
          color: #000;
          text-shadow: 0px -2px 0px #fff, 2px 0px 0px #fff, 0px 2px 0px #fff,
            -2px 0px 0px #fff, -2px -2px 0px #fff, 2px 2px 0px #fff,
            -2px 2px 0px #fff, 2px -2px 0px #fff;

          transform: rotateZ(-90deg);
          transform-origin: 0 0;
          @include media-breakpoint-only(xs) {
            white-space: unset;
            max-width: 140px;
            transform-origin: top right;
            transform: rotateZ(-90deg) translateY(calc(0.7rem - 100%));
          }
        }
        &.align-bottom {
          bottom: auto;
          top: 0.7rem; // TO SYNC
          width: auto;
          height: auto;

          > .author-inner {
            transform: rotateZ(-90deg);
            transform-origin: top right;
            @include media-breakpoint-only(xs) {
              transform: rotateZ(-90deg) translateY(calc(0.7rem - 100%));
            }
          }
        }
      }
      // }
    }
  }

  .names span {
    margin-right: 0.4rem;
  }

  .photo-made-by {
    margin: 4rem 0 2.5rem;
    color: $default-gray-light;
    font-size: 0.875rem;
    svg {
      width: 1.75rem;
      height: 1.75rem;
    }
  }

  .fb-scroll-tags-share {
    .tags {
      margin: 1.125rem 0 1.375rem;
      display: flex;
      flex-wrap: wrap;
    }
    .share-icons {
      display: flex;
    }
  }

  .custom-article-components-article-title .action-text {
    font: 500 0.75rem / 1.125rem $sans;
  }

  .fresh-articles {
    .custom-article-components-article-title {
      border-bottom: 1px solid $red;
    }
  }

  .similar-articles {
    @include media-breakpoint-down(sm) {
      margin-top: 3rem;
    }
    @include media-breakpoint-down(xs) {
      .article-buttons {
        display: block;
      }
    }
  }
}
