#author-page {
  #author-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1.5rem 2rem;
    border: 1px solid $gray-260;
    margin-bottom: 3rem;
    .avatar {
      margin-bottom: 1.5rem;
      flex-shrink: 0;
    }
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      small {
        font: 500 0.75rem / 1.125rem $serif;
        color: rgba($gray-850, 0.6);
        text-transform: uppercase;
      }
      h5 {
        font: 700 1.25rem / 1.625rem $sans;
        color: $gray-850;
        margin-bottom: 1rem;
      }
      p {
        text-align: center;
        font: 500 0.875rem / 1.5rem $sans;
        color: rgba($gray-850, 0.6);
      }
      address {
        font: 500 0.875rem / 1.5rem $sans;
        margin: 2.5rem 0 0;
        @include media-breakpoint-down(sm) {
          text-align: center;
        }
        a {
          color: $blue-link;
          display: inline-block;
          &:hover {
            text-decoration: underline;
          }
          @include media-breakpoint-up(sm) {
            padding-right: 0.75rem;
            margin-right: 0.75rem;
            border-right: 1px solid $gray-260;
          }
        }
        span {
          color: $gray-650;
          @include media-breakpoint-only(xs) {
            display: block;
          }
        }
      }
    }
    @include media-breakpoint-up(md) {
      padding: 2.25rem 1.75rem;
      margin-top: 0;
      flex-direction: unset;
      align-items: unset;
      .avatar {
        margin-bottom: unset;
        margin-right: 1.5rem;
      }
      .text {
        align-items: unset;
        p {
          text-align: unset;
        }
        address {
          margin-top: 1.5rem;
        }
      }
    }
  }

  .custom-article-components-article-title {
    margin-left: unset;
  }

  .action-text {
    font-family: $sans;
  }

  .article-buttons > div {
    margin-top: var(--margin-y);
    text-align: center;
  }
}
