#search-page {
  margin-top: var(--margin-y);

  .results-number {
    margin-bottom: 2.25rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 2.75rem;
    }
  }
  h2 {
    font: 700 1.75rem / 2.25rem $sans;
    margin: unset;
  }
  h5 {
    font-size: 20px;
    font-weight: 700;
  }
  .no-search-result,
  .end-of-search-results {
    font: 700 0.875rem / 6rem $serif;
    text-align: center;
  }
  .sticky {
    margin-bottom: unset;
  }
  .default-article-headline-highlighted {
    margin-top: 0.5rem;
  }
  .topics-and-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
