#tag-page {
  --margin-y: 1.75rem;

  .tag {
    transform-origin: left;
    transform: scale(1.6);
    margin-bottom: 1.75rem;
    @include media-breakpoint-down(sm) {
      margin-top: var(--mobile-menu-height);
    }
    .display-as-tag {
      text-decoration: none;
    }
  }

  .article-buttons > div {
    margin-top: var(--margin-y);
    text-align: center;
  }
}
