#topic-page {
  .topic-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    // column-gap: 1.75rem;
    background-size: auto;
    background-image: repeating-linear-gradient(
      to bottom,
      $border-color,
      $border-color 1px,
      transparent 1px,
      transparent calc(3.5rem - 1px)
    );
    padding-bottom: 1px;
    margin-bottom: 3rem;

    a {
      display: block;
      white-space: nowrap;
      text-decoration: unset;
      color: unset;
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
      font: 500 0.75rem / 3.25rem $sans;
      transition: color 0.15s;
      margin-right: 1.75rem;

      &:last-child {
        margin-right: auto;
      }
      &:hover {
        color: $red;
      }
    }
    .current {
      color: $red;
      @include media-breakpoint-down(sm) {
        border-bottom-color: $red;
      }
      @include media-breakpoint-up(md) {
        border-top-color: $red;
      }
    }
  }

  .action-text {
    font-family: $sans;
  }

  .article-buttons {
    clear: both;
    nav {
      text-align: center;
      ul.pagination-md .page-link {
        padding: 0.82rem 0.67rem;
        @include media-breakpoint-up(sm) {
          padding: 0.82rem 1rem;
        }
        @include media-breakpoint-up(xl) {
          padding: 0.82rem 0.75rem;
        }
      }
      .random-button {
        max-width: 380px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .mobile .square-wide {
    margin-top: unset;
  }
}
