.adult-overlay {
  position: absolute;
  background: rgba(#fff, 0.9);
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  padding: 40px;
  z-index: 3;
  > div {
    position: sticky;
    top: 100px;
    text-align: center;
    max-width: 500px;
    margin: 0px auto;
    header {
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid #aaa;
      .eighteen {
        border: 10px solid red;
        border-radius: 50%;
        display: inline-block;
        font-size: 50px;
        width: 100px;
        height: 100px;
        line-height: 80px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 2rem;
      }
    }
    section {
      div {
        margin-top: 2rem;
      }
    }
  }
}
