#article-meta {
  display: flex;
  margin: 1.5rem 0 2.5rem;
  @include media-breakpoint-up(md) {
    margin: 1rem 0 3rem;
  }

  .avatars {
    display: flex;
  }

  .text {
    display: inline-flex;
    flex-wrap: wrap;
    color: $gray-650;
    margin-left: 0.5rem;
    font: 500 0.875rem / 1.5rem $sans;
    .names {
      padding-left: 0.5ch;
      a {
        color: $gray-650;
        cursor: pointer;
        white-space: nowrap;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    i {
      font-style: unset;
      padding: 0 0.5ch;
    }

    .tags-box {
      display: flex;
      flex-wrap: wrap;
      a {
        display: inline-flex;
        align-items: center;
      }
    }

    .tags a:last-of-type .display-as-tag {
      margin-right: unset;
    }

    .timestamp {
      white-space: nowrap;
      margin-right: 0.8rem;
    }
  }

  .article-author-popover .popover {
    background-color: $white;
    border: 1px solid $gray-250;
    box-shadow: 0 10px 20px $gray-250;
    margin-top: 0.5rem;
    padding: 1.5rem;
    .role {
      font: 500 0.75rem / 1.125rem $serif;
      color: rgba($gray-850, 0.4);
    }
    .name {
      font-weight: 700;
      line-height: 1.375rem;
      color: $gray-850;
    }
    ul.post-titles {
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: $gray-850;
      li {
        text-indent: -0.5rem;
        margin: 0.5rem 0 0.5rem -1.25rem;
        &::marker {
          color: $gray-260;
        }
      }
    }
  }
}
