.banner-slot {
  max-width: fit-content;
  padding: 0.5rem 0.5rem 0;
  @include media-breakpoint-up(sm) {
    padding: 1rem 1rem 0;
  }
  background-color: $gray-250;
  flex-direction: column;
  display: flex;
  align-self: center;
  margin: 2rem auto;
  .banner .content {
    display: block;
    margin: 0 auto;
    img:not(.tracking) {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .banner.video-anchor {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    width: 640px;
    max-width: 100%;
    video {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;
      border: none;
    }
    .video-routing {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: calc(100% - 60px);
    }
  }

  .caption {
    background-color: $gray-250;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba($gray-600, 0.4);
    font-size: 0.75rem;
    font-weight: 500;
    min-height: 2em;
    @include media-breakpoint-up(sm) {
      min-height: 2.65em;
    }
  }
}

.banner-slot.flat {
  @include media-breakpoint-down(md) {
    padding: 0.75rem 0.5rem 0;
    .caption {
      line-height: 1.5;
    }
  }
  .content {
    max-width: 100%;
    height: 90px;
  }
  .caption {
    min-height: unset;
  }
}

.banner-slot.wrapper {
  padding: unset;
  background-color: unset;
  margin: 0.25rem auto !important;

  .banner .content {
    height: unset;
    max-width: unset;
  }

  &.mobile img:first-of-type {
    height: auto;
    width: calc(100vw - 1rem);
  }

  &.desktop img:first-of-type {
    max-height: 100px;
    max-width: $global-limiter-max-width;
  }
}
