.breaking-news-stripe {
  span {
    display: block;
    text-align: center;
    width: 100%;
    padding: 1rem 20px;

    @include media-breakpoint-down(sm) {
      text-align: left;
    }
  }
}

#breaking-news {
  display: block;

  section {
    overflow: hidden;
    color: $red;
    font-weight: bold;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid $border-color;

    > div {
      background-color: #fdf333;
    }

    span {
      &:not(.cursor-default) {
        cursor: pointer;
      }
      transform: translate3d(0, 0, 0);
      position: relative;
      display: inline-block;
      animation-name: push;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    span:hover {
      animation-play-state: paused;
    }

    @keyframes push {
      from {
        transform: translate3d(50vw, 0, 0);
      }
      to {
        transform: translate3d(-100%, 0, 0);
      }
    }
  }
}
