@import "./../base/variables";

.custom-divider {
  position: relative;
  clear: both;

  .line {
    height: $global-separator-width;
    width: 100%;
    background-color: $global-separator-color;
  }
}
