@use "sass:map";

.divider-trio {
  &__title-wrapper {
    margin-bottom: (1.25rem - map.get(map.get($global-item-space-map, t), xs));
  }

  @include media-breakpoint-down(sm) {
    $_padding-x: 0.125rem;

    padding-left: $_padding-x !important;
    padding-right: $_padding-x !important;

    &__inner {
      padding-bottom: 0.75rem;
      background-color: $gray-250;
    }

    &__title-wrapper,
    &__article-wrapper {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .custom-article-components-article-title,
    .with-vertical-separator {
      // margin-left: -0.5rem;
      padding-left: (
        map.get(map.get($global-box-space-map, l), xs) - $_padding-x
      );
      padding-right: (
        map.get(map.get($global-box-space-map, r), xs) - $_padding-x
      );
    }

    .custom-article-components-article-title {
      background-color: $gray-260;
      width: 100%;
    }

    .with-vertical-separator {
      flex-direction: column;
      flex-wrap: nowrap;

      &::after {
        content: none;
      }
    }

    .global-separated-t {
      border-top-color: $gray-260 !important;
    }
  }

  .article-card-horizontal {
    .img-box {
      width: 100px !important;
      height: 100px !important;
    }

    .default-article-lead-normal {
      display: none;
    }
  }
}
