.facebook-page {
  display: block;
  position: relative;
  cursor: pointer;
  min-height: 204px;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    width: 100%;
    height: 400px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    z-index: 0;

    @include media-breakpoint-down(sm) {
      width: 100%;
      height: 400px;
    }
  }

  &__badge {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.25rem 0.625rem;
    background-color: $red;
    line-height: 1.5 !important;
    color: $white !important;
    font-size: 0.75rem !important;
    font-weight: 500 !important;
    font-family: $font-family-serif !important;
  }

  &__text-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($white, 0.8);
    padding: 0.75rem;
    color: $gray-850 !important;
    z-index: 1;
  }

  &__title {
    margin: 0 !important;
    line-height: 1.5625rem !important;
    font-weight: bold !important;
    font-family: $font-family-serif !important;

    @include media-breakpoint-up(xs) {
      font-size: 1.25rem !important;
    }

    @include media-breakpoint-up(md) {
      font-size: 0.875rem !important;
    }
  }

  &__text {
    line-height: 1.5 !important;
    font-size: 0.75rem !important;
    font-weight: normal !important;
    font-family: $font-family-sans !important;
    opacity: 0.6;
  }
}
