/* Gallery */
.igallery {
  width: 100%;
  max-width: 100%;
  margin: 20px 0px;
  background: #fff;
  padding: 6px 6px;
  .image-gallery-icon {
    z-index: 3;
  }
  .image-gallery-bullets {
    bottom: auto;
    top: 480px;
    @include media-breakpoint-down(xs) {
      // top: 210;
      display: none;
    }
  }
  .image-gallery-icon {
    &.image-gallery-left-nav,
    &.image-gallery-right-nav {
      width: 36px;
      height: 36px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
      border: 1px solid #eee;
      border-radius: 50%;
      box-shadow: none;
      filter: none;
      margin-top: -36px;
      svg {
        color: #000;
        width: 26px;
        height: 26px;
      }
      &:hover {
        background-color: #eee;
      }
    }
    &.image-gallery-left-nav {
      left: -20px;
    }
    &.image-gallery-right-nav {
      right: -20px;
    }

    &.image-gallery-play-button,
    &.image-gallery-fullscreen-button {
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      box-shadow: none;
      filter: none;
      padding: 0px;
      right: 8px;
      bottom: auto;
      top: 460px;
      @include media-breakpoint-down(xs) {
        top: 190px;
      }
      svg {
        color: #000;
        width: 20px;
        height: 20px;
      }
      &:hover {
        background-color: #eee;
      }
    }
    &.image-gallery-play-button {
      left: 8px;
      right: auto;
    }
  }
  .image-gallery-bullet {
    &:focus,
    &:hover {
      background: #fff;
    }
  }
  .image-gallery-thumbnails-container {
    .image-gallery-thumbnail {
      width: 190px;
      padding: 3px;
      border: 1px solid transparent;
      .image-gallery-thumbnail-inner {
        height: 100px;
        img:not(.camera) {
          height: 100px;
          object-fit: cover;
        }
      }
      &:hover,
      &.active {
        border: 1px solid #525252;
      }
    }
  }
  img:not(.camera) {
    border: none !important;
  }
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    width: 30px;
  }
  .image-gallery-content {
    .image-gallery-slide {
      > div {
        cursor: default;
        .image-gallery-description-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #f6f6f6;
          margin-top: 20px;
          padding-bottom: 20px;
          margin-bottom: 15px;
          position: relative;
          // flex-direction: row-reverse;
          @include media-breakpoint-down(sm) {
            flex-direction: column;
            // flex-direction: column-reverse;
            padding-right: 0px;
            padding-bottom: 0px;
          }
          span {
            background: transparent;
            display: block;
            align-items: center;
            color: #777;
            max-width: 50%;
            line-height: 28px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:not(:empty):last-child:after {
              content: " ";
              display: inline-block;
              background-image: url("/images/camera-icon-black.png");
              background-size: 28px 28px;
              height: 28px;
              width: 28px;
              top: 8px;
              margin-left: 10px;
              position: relative;
            }
            &:first-child:after {
              display: none !important;
            }
            @include media-breakpoint-down(sm) {
              width: 100%;
              max-width: 100%;
              white-space: normal;
              &:last-child {
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
  .image-gallery-content:not(.fullscreen) {
    .image-gallery-slide {
      > div {
        display: block;
        .image-wrapper {
          overflow: hidden;
          position: relative;
          background-color: #000;
          > .bg-image {
            filter: blur(10px);
            width: 100%;
            height: 100%;
            z-index: 0;
            opacity: 0.5;
            position: absolute;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 50%;
            overflow: hidden;
            @include media-breakpoint-down(xs) {
              display: none;
            }
          }
          img {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
          }
        }
        img:not(.camera) {
          // width: 100%;
          height: 500px;
          // object-fit: cover;
          display: block;
          position: relative;
          z-index: 1;
          @include media-breakpoint-down(xs) {
            height: 230px;
          }
        }
        img.camera.fullscreen {
          display: none;
        }
      }
    }
  }
  .image-gallery-content.fullscreen {
    padding: 10%;
    padding-top: 5%;
    background: rgba(#242424, 0.95);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    &.single {
      padding: 1%;
    }
    .image-gallery-slide {
      > div {
        .image-wrapper {
          background-color: #212121;
        }
        .image-gallery-description-container {
          border-bottom: none;
          margin-top: 0px;
          @include media-breakpoint-down(xs) {
            justify-content: flex-start;
          }
          span {
            margin-top: 0;
            &:last-child:after {
              background-image: url("/images/camera-icon-white.png");
            }
            @include media-breakpoint-down(xs) {
              line-height: 1rem;
              font-size: 11px;
              &:last-child:after {
                height: 14px;
                width: 14px;
                background-size: 100%;
                top: 4px;
              }
            }
          }
        }
      }
    }
    .image-gallery-thumbnails {
      margin-top: 50px;
    }

    &.single .image-gallery-fullscreen-button {
      top: 3%;
      right: 2%;
    }
    .image-gallery-fullscreen-button {
      position: absolute;
      top: -3%;
      right: -10%;
      background: transparent;
      border: 1px solid #fff;
      border-radius: 50%;
      &:before {
        content: "\00D7";
        font-size: 20px;
        font-weight: normal;
        margin-left: -1px;
        margin-top: -2px;
        color: #fff !important;
        &:hover {
        }
      }
      svg {
        color: #fff;
        display: none;
      }
    }
    .image-gallery-right-nav {
      right: -30px;
      top: 50%;
      margin-top: -36px;
    }
    .image-gallery-left-nav {
      left: -30px;
      top: 50%;
      margin-top: -36px;
    }
    .image-gallery-slides.multiple {
      max-height: 60vh;
    }
    .image-gallery-slides img:not(.camera) {
      width: 100%;
    }
    .image-gallery-play-button,
    .image-gallery-bullets {
      display: none;
    }

    .image-gallery-slides.multiple {
      max-height: calc(60vh + 30px);
      height: calc(60vh + 30px);
      .image-gallery-slide .image-wrapper .image-gallery-image {
        height: calc(60vh - 40px);
      }
    }

    .image-gallery-slides {
      .image-gallery-slide {
        .image-wrapper {
          .bg-image {
            display: none;
          }
          .image-gallery-image {
            object-position: center;
          }
        }
        .image-gallery-description-container {
          border-bottom: none;
          span {
            color: #fff;
          }
          img.camera:not(.fullscreen) {
            display: none;
          }
          img.camera.fullscreen {
            display: block;
          }
        }
      }
    }
  }
}
:not(:root):fullscreen::backdrop {
  width: 0px;
}

/* Slideshow */
.igallery.igallery-type-3 {
  .image-gallery-content:not(.fullscreen) {
    .image-gallery-slide {
      > div {
        .image-gallery-description-container {
          border-bottom: none;
        }
      }
    }
    .image-gallery-bullets-container {
      display: none;
    }
  }
}

/* Single images */
.wysiwyg-content {
  .igallery-image.igallery-type-1 {
    max-width: 35vw;
    @include media-breakpoint-down(xl) {
      max-width: 50vw;
    }
    @include media-breakpoint-down(md) {
      max-width: none;
    }
    @include media-breakpoint-down(sm) {
      max-width: none;
    }

    img {
      margin-bottom: 4px;
      width: 100%;
    }

    figcaption {
      display: flex;
      // flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 35px;
      position: relative;
      margin-top: 5px;
      @include media-breakpoint-down(sm) {
        // flex-direction: column-reverse;
        flex-direction: column;
        padding-right: 0px;
        padding-bottom: 0px;
      }
      p {
        padding: 0px;
        border-left: none;
        margin: 0px;

        white-space: normal;
        line-height: 1.1rem;

        &:not(:empty):last-child:after {
          content: " ";
          display: inline-block;
          background-image: url("/images/camera-icon-black.png");
          background-size: 28px 28px;
          height: 28px;
          width: 28px;
          top: 0px;
          right: 0px;
          position: absolute;
          @include media-breakpoint-down(sm) {
            position: relative;
            top: 8px;
            margin-left: 10px;
          }
        }
        &:first-child:after {
          display: none !important;
        }
        &:first-child {
          max-width: 60%;
          padding-right: 10px;
          text-align: left !important;
          @include media-breakpoint-down(sm) {
            text-align: center !important;
            max-width: none;
          }
        }
        &:last-child {
          max-width: 40%;
          padding-right: 35px;
          padding-top: 0.28rem;
          text-align: right !important;
          @include media-breakpoint-down(sm) {
            text-align: center !important;
            max-width: none;
          }
        }
      }
    }
  }
}

/* Grid */
#lightboxBackdrop {
  > div {
    position: relative;
    .footer_60scne {
      figcaption {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 35px;
        position: relative;
        @include media-breakpoint-down(sm) {
          flex-direction: column;
          padding-right: 0px;
          padding-bottom: 0px;
        }
        span {
          padding: 0px;
          border-left: none;
          margin: 0px;
          &:not(:empty):last-child:after {
            content: " ";
            display: inline-block;
            background-image: url("/images/camera-icon-white.png");
            background-size: 28px 28px;
            height: 28px;
            width: 28px;
            top: 8px;
            margin-left: 10px;
            position: relative;
          }
          &:first-child:after {
            display: none !important;
          }
        }
      }
    }
    .footerCount_lkhc9u {
      display: none;
    }
    .arrow_b9bbag-o_O-arrow__direction__left_shhpn5-o_O-arrow__size__medium_9f7hgo,
    .arrow_b9bbag-o_O-arrow__direction__right_174p6a9-o_O-arrow__size__medium_9f7hgo {
      outline: none;
      margin-top: -15px;
      width: 36px;
      height: 36px;
      background: #fff;
      border-radius: 50%;
      border: 1px solid #eee;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        width: 36px;
        height: 36px;
        display: inline-block;
        svg {
          width: 20px;
          fill: #000;
        }
      }
    }
    .arrow_b9bbag-o_O-arrow__direction__left_shhpn5-o_O-arrow__size__medium_9f7hgo {
      @include media-breakpoint-up(lg) {
        left: -30px;
      }
      span {
        margin-left: -3px;
      }
    }
    .arrow_b9bbag-o_O-arrow__direction__right_174p6a9-o_O-arrow__size__medium_9f7hgo {
      @include media-breakpoint-up(lg) {
        right: -30px;
      }
      span {
        margin-left: 3px;
      }
    }
    .close_1x3s325 {
      outline: none;
      border: 1px solid #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -10px;
      width: 32px;
      height: 32px;
      @include media-breakpoint-up(lg) {
        left: 40px;
      }
      span {
        margin-top: -3px;
      }
    }
  }
}
