a.logo {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  line-height: 1;
  text-decoration: none;
  color: unset;
  font-size: 1rem;
  font-weight: 700;
  font-family: $serif;
  transition: transform 0.1s;

  &:hover {
    transform: scale(1.1);
  }

  .icon {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;

    > svg {
      max-width: 100%;
      // width: 100%;
      max-height: 100%;
      height: 100%;
    }
  }

  .text {
    margin-left: 0.25em;
  }

  svg path:first-of-type {
    transition: fill 0.25s;
  }

  &.facebook-icon svg:hover path:first-of-type {
    fill: $facebook-color;
  }
  &.twitter-icon svg:hover path:first-of-type {
    fill: $twitter-color;
  }
  &.youtube-icon svg:hover path:first-of-type {
    fill: $youtube-color;
  }
  &.instagram-icon svg:hover path:first-of-type {
    fill: $instagram-color;
  }
  &.email-icon svg:hover path:first-of-type {
    fill: $red;
  }
  &.clipboard-icon svg:hover path:first-of-type {
    fill: $red;
  }
}
