.newsletter {
  padding: 1.875rem 1.25rem 1.5rem;
  background-color: $gray-250;
  border-left: 2px solid #ef2352;
  &.newsletter-footer {
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    h5 {
      font-size: 0.875rem;
      margin-bottom: 1rem;
    }
  }
  * {
    border-radius: unset;
  }
  header {
    color: $gray-850;
    h5 {
      font: 700 1.25rem $serif;
    }
    p {
      font: 500 0.75rem $serif;
      color: $default-gray-light;
      margin-bottom: 1rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    input {
      margin: 0.5rem 0;
      background-color: unset;
      border: none;
      border-bottom: 1px solid gray;
      box-shadow: unset;
      font-size: 0.875rem;
      font-weight: 500;
      color: $default-gray-light;
      transition: color 0.25s, border-bottom-color 0.25s;
      &:focus {
        outline: none;
      }
      &:hover {
        outline: none;
        color: $default-gray;
        border-bottom-color: $default-gray;
        &::placeholder {
          color: $default-gray;
        }
      }
    }

    .newsletter-terms {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      label {
        display: inline-flex;
        align-items: center;
        margin: unset;
        span {
          --size: 1rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: var(--size);
          height: var(--size);
          line-height: var(--size);
          font-size: var(--size);
          border: 1px solid $gray-600;
          cursor: pointer;
          color: transparent;
        }
        input[type="checkbox"] {
          // hide native checkbox but keep it in the DOM allowing reportValidity() to work
          opacity: 0;
          width: 1px;
          &:checked + span {
            color: $default-gray;
          }
        }
      }
      > span {
        color: $gray-650 !important;
        font-size: 0.75rem;
        margin: 0 0 0 0.5rem;
        a.a-global {
          text-decoration: underline;
          transition: color 0.25s;
          &:hover,
          &:active {
            border: hidden;
            color: $default-gray;
          }
        }
      }
    }

    button {
      color: $gray-850;
      background-color: $white;
      font-size: 0.875rem;
      font-weight: 500;
      border: hidden;
      padding: unset;
      line-height: 2.25rem;
    }
  }
}
