.pagination-nav {
  display: inline-block;
  .pagination {
    > li {
      > .page-link {
        color: #000;
      }
      &.active {
        > .page-link {
          border-color: #dee2e6;
          background-color: #e7e7e7;
          color: #000;
        }
      }
      &.disabled {
        > .page-link {
          opacity: 0.5;
        }
      }
    }
    &.pagination-md {
      .page-link {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        line-height: 1.5;
      }
    }
  }
}
