.social-icons {
  display: flex;
  align-items: center;
  margin-right: -0.25rem;

  > div {
    display: inline-flex;
    align-items: center;
    max-height: 100%;

    .logo {
      margin: 0.25rem;
    }
  }
}
