.silvester-logo {
  .cls-1 {
    isolation: isolate;
  }
  .cls-2 {
    fill: #762c54;
  }
  .cls-3 {
    fill: #fae08d;
  }
  .cls-4 {
    fill: #4cacb7;
  }
  .cls-5 {
    fill: #e876a0;
  }
  .cls-6 {
    fill: #f6cd65;
  }
  .cls-7 {
    fill: #f9df8d;
  }
  .cls-8 {
    fill: #732a51;
  }
  .cls-9 {
    fill: #61cdcf;
  }
  .cls-10 {
    fill: coral;
  }
  .cls-11 {
    fill: #4db7ff;
  }
  .cls-12 {
    fill: #ef2352;
  }
  .cls-13 {
    fill: #332fc1;
  }
  .cls-14 {
    opacity: 0.62;
  }
  .cls-15 {
    fill: #ccdeea;
  }
  .cls-16 {
    fill: #eaf5fb;
  }
  .cls-17 {
    fill: #e3a011;
  }
  .cls-18 {
    fill: #e7cb85;
  }
  .cls-19 {
    fill: #fff;
    mix-blend-mode: soft-light;
  }
  .cls-20 {
    fill: #672381;
    opacity: 0.1;
    mix-blend-mode: multiply;
  }
}
