.xmas-logo {
  .cls-1 {
    isolation: isolate;
  }
  .cls-2 {
    fill: none;
    stroke: #a7a9ac;
    stroke-miterlimit: 10;
  }
  .cls-145,
  .cls-146,
  .cls-147,
  .cls-148,
  .cls-149,
  .cls-150,
  .cls-153,
  .cls-2,
  .cls-36,
  .cls-8 {
    mix-blend-mode: multiply;
  }
  .cls-10,
  .cls-11,
  .cls-115,
  .cls-116,
  .cls-117,
  .cls-12,
  .cls-13,
  .cls-14,
  .cls-142,
  .cls-143,
  .cls-144,
  .cls-15,
  .cls-151,
  .cls-152,
  .cls-16,
  .cls-3,
  .cls-9 {
    mix-blend-mode: screen;
  }
  .cls-4 {
    fill: coral;
  }
  .cls-5 {
    fill: #4db7ff;
  }
  .cls-6 {
    fill: #ef2352;
  }
  .cls-7 {
    fill: #332fc1;
  }
  .cls-8 {
    fill: url(#radial-gradient);
  }
  .cls-9 {
    fill: url(#linear-gradient);
  }
  .cls-10 {
    fill: url(#linear-gradient-2);
  }
  .cls-11 {
    fill: url(#linear-gradient-3);
  }
  .cls-12 {
    fill: url(#radial-gradient-2);
  }
  .cls-13 {
    fill: url(#radial-gradient-3);
  }
  .cls-14 {
    fill: url(#radial-gradient-4);
  }
  .cls-15 {
    fill: url(#radial-gradient-5);
  }
  .cls-16 {
    fill: url(#radial-gradient-6);
  }
  .cls-17 {
    fill: #c4c4c4;
  }
  .cls-18 {
    fill: #eaeaea;
  }
  .cls-118,
  .cls-19 {
    opacity: 0;
  }
  .cls-19 {
    fill: url(#linear-gradient-4);
  }
  .cls-119,
  .cls-20 {
    opacity: 0.06;
  }
  .cls-20 {
    fill: url(#linear-gradient-5);
  }
  .cls-120,
  .cls-21 {
    opacity: 0.13;
  }
  .cls-21 {
    fill: url(#linear-gradient-6);
  }
  .cls-121,
  .cls-22 {
    opacity: 0.19;
  }
  .cls-22 {
    fill: url(#linear-gradient-7);
  }
  .cls-122,
  .cls-23 {
    opacity: 0.25;
  }
  .cls-23 {
    fill: url(#linear-gradient-8);
  }
  .cls-123,
  .cls-24 {
    opacity: 0.31;
  }
  .cls-24 {
    fill: url(#linear-gradient-9);
  }
  .cls-124,
  .cls-25 {
    opacity: 0.38;
  }
  .cls-25 {
    fill: url(#linear-gradient-10);
  }
  .cls-125,
  .cls-26 {
    opacity: 0.44;
  }
  .cls-26 {
    fill: url(#linear-gradient-11);
  }
  .cls-126,
  .cls-27 {
    opacity: 0.5;
  }
  .cls-27 {
    fill: url(#linear-gradient-12);
  }
  .cls-127,
  .cls-28 {
    opacity: 0.56;
  }
  .cls-28 {
    fill: url(#linear-gradient-13);
  }
  .cls-128,
  .cls-29 {
    opacity: 0.63;
  }
  .cls-29 {
    fill: url(#linear-gradient-14);
  }
  .cls-129,
  .cls-30 {
    opacity: 0.69;
  }
  .cls-30 {
    fill: url(#linear-gradient-15);
  }
  .cls-130,
  .cls-31 {
    opacity: 0.75;
  }
  .cls-31 {
    fill: url(#linear-gradient-16);
  }
  .cls-131,
  .cls-32 {
    opacity: 0.81;
  }
  .cls-32 {
    fill: url(#linear-gradient-17);
  }
  .cls-132,
  .cls-33 {
    opacity: 0.88;
  }
  .cls-33 {
    fill: url(#linear-gradient-18);
  }
  .cls-133,
  .cls-34 {
    opacity: 0.94;
  }
  .cls-34 {
    fill: url(#linear-gradient-19);
  }
  .cls-35 {
    fill: url(#linear-gradient-20);
  }
  .cls-36 {
    fill: url(#radial-gradient-7);
  }
  .cls-37 {
    fill: #8f8f8f;
  }
  .cls-38 {
    fill: url(#linear-gradient-21);
  }
  .cls-39 {
    fill: url(#linear-gradient-22);
  }
  .cls-40 {
    fill: url(#linear-gradient-23);
  }
  .cls-41 {
    fill: url(#linear-gradient-24);
  }
  .cls-42 {
    fill: url(#linear-gradient-25);
  }
  .cls-43 {
    fill: url(#linear-gradient-26);
  }
  .cls-44 {
    fill: url(#linear-gradient-27);
  }
  .cls-45 {
    fill: url(#linear-gradient-28);
  }
  .cls-46 {
    fill: url(#linear-gradient-29);
  }
  .cls-47 {
    fill: url(#linear-gradient-30);
  }
  .cls-48 {
    fill: url(#linear-gradient-31);
  }
  .cls-49 {
    fill: url(#linear-gradient-32);
  }
  .cls-50 {
    fill: url(#linear-gradient-33);
  }
  .cls-51 {
    fill: url(#linear-gradient-34);
  }
  .cls-52 {
    fill: url(#linear-gradient-35);
  }
  .cls-53 {
    fill: url(#linear-gradient-36);
  }
  .cls-54 {
    fill: url(#linear-gradient-37);
  }
  .cls-55 {
    fill: url(#linear-gradient-38);
  }
  .cls-56 {
    fill: url(#linear-gradient-39);
  }
  .cls-57 {
    fill: url(#linear-gradient-40);
  }
  .cls-58 {
    fill: url(#linear-gradient-41);
  }
  .cls-59 {
    fill: url(#linear-gradient-42);
  }
  .cls-60 {
    fill: url(#linear-gradient-43);
  }
  .cls-61 {
    fill: url(#linear-gradient-44);
  }
  .cls-62 {
    fill: url(#linear-gradient-45);
  }
  .cls-63 {
    fill: url(#linear-gradient-46);
  }
  .cls-64 {
    fill: url(#linear-gradient-47);
  }
  .cls-65 {
    fill: url(#linear-gradient-48);
  }
  .cls-66 {
    fill: url(#linear-gradient-49);
  }
  .cls-67 {
    fill: url(#linear-gradient-50);
  }
  .cls-68 {
    fill: url(#linear-gradient-51);
  }
  .cls-69 {
    fill: url(#linear-gradient-52);
  }
  .cls-70 {
    fill: url(#linear-gradient-53);
  }
  .cls-71 {
    fill: url(#linear-gradient-54);
  }
  .cls-72 {
    fill: url(#linear-gradient-55);
  }
  .cls-73 {
    fill: url(#linear-gradient-56);
  }
  .cls-74 {
    fill: url(#linear-gradient-57);
  }
  .cls-75 {
    fill: url(#linear-gradient-58);
  }
  .cls-76 {
    fill: url(#linear-gradient-59);
  }
  .cls-77 {
    fill: url(#linear-gradient-60);
  }
  .cls-78 {
    fill: url(#linear-gradient-61);
  }
  .cls-79 {
    fill: url(#linear-gradient-62);
  }
  .cls-80 {
    fill: url(#linear-gradient-63);
  }
  .cls-81 {
    fill: url(#linear-gradient-64);
  }
  .cls-82 {
    fill: url(#linear-gradient-65);
  }
  .cls-83 {
    fill: url(#linear-gradient-66);
  }
  .cls-84 {
    fill: url(#linear-gradient-67);
  }
  .cls-85 {
    fill: url(#linear-gradient-68);
  }
  .cls-86 {
    fill: url(#linear-gradient-69);
  }
  .cls-87 {
    fill: url(#linear-gradient-70);
  }
  .cls-88 {
    fill: url(#linear-gradient-71);
  }
  .cls-89 {
    fill: url(#linear-gradient-72);
  }
  .cls-90 {
    fill: url(#linear-gradient-73);
  }
  .cls-91 {
    fill: url(#linear-gradient-74);
  }
  .cls-92 {
    fill: url(#linear-gradient-75);
  }
  .cls-93 {
    fill: url(#linear-gradient-76);
  }
  .cls-94 {
    fill: url(#linear-gradient-77);
  }
  .cls-95 {
    fill: url(#linear-gradient-78);
  }
  .cls-96 {
    fill: url(#linear-gradient-79);
  }
  .cls-97 {
    fill: url(#linear-gradient-80);
  }
  .cls-98 {
    fill: url(#linear-gradient-81);
  }
  .cls-99 {
    fill: url(#linear-gradient-82);
  }
  .cls-100 {
    fill: url(#linear-gradient-83);
  }
  .cls-101 {
    fill: url(#linear-gradient-84);
  }
  .cls-102 {
    fill: url(#linear-gradient-85);
  }
  .cls-103 {
    fill: url(#linear-gradient-86);
  }
  .cls-104 {
    fill: url(#linear-gradient-87);
  }
  .cls-105 {
    fill: url(#linear-gradient-88);
  }
  .cls-106 {
    fill: url(#linear-gradient-89);
  }
  .cls-107 {
    fill: url(#linear-gradient-90);
  }
  .cls-108 {
    fill: url(#linear-gradient-91);
  }
  .cls-109 {
    fill: url(#linear-gradient-92);
  }
  .cls-110 {
    fill: url(#linear-gradient-93);
  }
  .cls-111 {
    fill: url(#linear-gradient-94);
  }
  .cls-112 {
    fill: url(#linear-gradient-95);
  }
  .cls-113 {
    fill: url(#linear-gradient-96);
  }
  .cls-114 {
    fill: #7d7d7d;
  }
  .cls-115 {
    fill: url(#linear-gradient-97);
  }
  .cls-116 {
    fill: url(#linear-gradient-98);
  }
  .cls-117 {
    fill: url(#linear-gradient-99);
  }
  .cls-118,
  .cls-140 {
    fill: #fff;
  }
  .cls-119 {
    fill: url(#linear-gradient-100);
  }
  .cls-120 {
    fill: url(#linear-gradient-101);
  }
  .cls-121 {
    fill: url(#linear-gradient-102);
  }
  .cls-122 {
    fill: url(#linear-gradient-103);
  }
  .cls-123 {
    fill: url(#linear-gradient-104);
  }
  .cls-124 {
    fill: url(#linear-gradient-105);
  }
  .cls-125 {
    fill: url(#linear-gradient-106);
  }
  .cls-126 {
    fill: url(#linear-gradient-107);
  }
  .cls-127 {
    fill: url(#linear-gradient-108);
  }
  .cls-128 {
    fill: url(#linear-gradient-109);
  }
  .cls-129 {
    fill: url(#linear-gradient-110);
  }
  .cls-130 {
    fill: url(#linear-gradient-111);
  }
  .cls-131 {
    fill: url(#linear-gradient-112);
  }
  .cls-132 {
    fill: url(#linear-gradient-113);
  }
  .cls-133 {
    fill: url(#linear-gradient-114);
  }
  .cls-134 {
    fill: url(#linear-gradient-115);
  }
  .cls-135 {
    fill: url(#linear-gradient-116);
  }
  .cls-136 {
    fill: url(#linear-gradient-117);
  }
  .cls-137 {
    fill: url(#linear-gradient-118);
  }
  .cls-138 {
    fill: #b3b3b3;
  }
  .cls-139 {
    fill: #f6f6f6;
  }
  .cls-141 {
    fill: #434343;
  }
  .cls-142 {
    fill: url(#linear-gradient-119);
  }
  .cls-143 {
    fill: url(#linear-gradient-120);
  }
  .cls-144 {
    fill: url(#radial-gradient-8);
  }
  .cls-145 {
    fill: url(#radial-gradient-9);
  }
  .cls-146 {
    fill: url(#radial-gradient-10);
  }
  .cls-147 {
    fill: url(#radial-gradient-11);
  }
  .cls-148 {
    fill: url(#radial-gradient-12);
  }
  .cls-149 {
    fill: url(#radial-gradient-13);
  }
  .cls-150 {
    fill: url(#radial-gradient-14);
  }
  .cls-151 {
    fill: url(#radial-gradient-15);
  }
  .cls-152 {
    fill: url(#radial-gradient-16);
  }
  .cls-153 {
    fill: url(#linear-gradient-121);
  }
  .cls-154 {
    fill: #1b75bb;
  }
  .cls-155 {
    fill: url(#linear-gradient-122);
  }
  .cls-156 {
    fill: url(#linear-gradient-123);
  }
  .cls-157 {
    fill: url(#linear-gradient-124);
  }
  .cls-158 {
    fill: url(#linear-gradient-125);
  }
  .cls-159 {
    fill: url(#linear-gradient-126);
  }
  .cls-160 {
    fill: url(#linear-gradient-127);
  }
  .cls-161 {
    fill: url(#linear-gradient-128);
  }
  .cls-162 {
    fill: url(#linear-gradient-129);
  }
}
