@import "./../base/variables";

.text-advertisement {
  display: block;
  border-top: $global-separator;
  border-bottom: $global-separator;
  padding: 2px 0;

  &,
  &:hover {
    text-decoration: none;
    color: $default-gray;
  }

  &__inner {
    border-left: 2px solid $red;
    padding: 1.25rem;
    background-color: $gray-250;
  }

  h5 {
    margin: 0;
    line-height: 1.3;
    text-align: left;
    color: $default-gray;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: $font-family-sans;
  }

  &.side {
    h5 {
      line-height: 1.375;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}
