#wysiwyg-content,
.wysiwyg-content {
  font: normal 1rem / 1.875rem $sans;
  color: $gray-850;

  &.wysiwyg-lead {
    font-size: 1.125rem;
    margin: 2.5rem 0 2rem 0;
    border-left: 1px solid $default-gray-light;
    padding: 0.5rem 1.5rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin: 1em 0;
  }

  h2 {
    font-size: 1.375rem;
    line-height: 2.125rem;
  }
  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  pre {
    margin: 1em 0;
    white-space: pre-line;
  }

  blockquote {
    position: relative;
    font: 700 1.5rem / 2.25rem $serif;
    margin: 3rem 0 2.5rem 3rem;

    hyphens: auto;
    word-break: break-word;

    &::before {
      position: absolute;
      top: 3;
      left: -3rem;
      content: "“";
      color: $gray-250;
      font: 700 6.125rem / 1.875rem $sans;
    }
    a::before {
      content: " ";
    }
    p {
      padding-bottom: unset;
    }
  }

  p {
    padding-bottom: 1rem;
    word-break: break-word;
  }

  p[class^="highlighted-"] {
    margin-block: 1em;
  }

  p.highlighted-margin,
  p.highlighted-quote {
    padding: 0.5em 1.5em;
    font-size: 1.375em;
    line-height: 1.5;
    letter-spacing: -0.4px;
  }

  p.highlighted-margin {
    border-left: 0.4em solid #ef2352;
    padding-left: 1.1em;
  }

  p.highlighted-frame {
    padding: 1.4em 2em;
    border: 2px solid #ef2352;
    background-color: #eee;
    position: relative;
  }
  p.highlighted-frame::before {
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 40' width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpolyline points='40,10 10,10 10,40' style='fill:none; stroke: %23ef2352; stroke-width:8' /%3E%3C/svg%3E%0A");
    top: 0;
    left: 0;
    width: 3.2em;
    height: 3.2em;
  }
  p.highlighted-frame::after {
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 40' width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpolyline points='30,0 30,30 0,30' style='fill:none; stroke: %23ef2352; stroke-width:8' /%3E%3C/svg%3E");
    bottom: 0;
    right: 0;
    width: 3.2em;
    height: 3.2em;
  }

  p.highlighted-quote {
    position: relative;
  }
  p.highlighted-quote::before {
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='1 -12 5 4.5' width='100%25' height='100%25'%0A%3E%3Ctext fill='%23ef2352'%3Eʼ%3C/text%3E%3Ctext dx='2' fill='%23ef2352'%3Eʼ%3C/text%3E%3C/svg%3E");
    top: 0;
    left: -0.4em;
    width: 1.75em;
  }
  p.highlighted-quote::after {
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='1 -12 5 4.5' width='100%25' height='100%25'%0A%3E%3Ctext fill='%23ef2352'%3Eʼ%3C/text%3E%3Ctext dx='2' fill='%23ef2352'%3Eʼ%3C/text%3E%3C/svg%3E");
    bottom: 0;
    right: -0.4em;
    width: 1.75em;
  }

  .fb-paragraph {
    margin: 0 auto;
    .fb-span {
      position: relative;
      display: block;
      width: 100%;
      iframe {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 101%;
      }
    }
  }

  .embed-container {
    position: relative;
    margin: 0 auto;
  }

  .embed-container embed,
  .embed-container iframe,
  .embed-container object {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  figure {
    display: block;
    max-width: fit-content;
    margin-inline: auto;
  }

  img:not(.igallery-type-1 img):not(.igallery-type-2 img):not(.igallery-type-3
      img):not(.ReactGridGallery img) {
    display: block;
    max-width: 100%;
    max-height: 600px;
    margin-inline: auto;
  }

  figcaption {
    font: normal 0.875rem / 1.5rem $sans;
    color: $default-gray-light;
  }

  table {
    margin: 1rem auto;
    border: none;
    td,
    tr {
      padding-left: 0.5ch;
      padding-right: 0.5ch;
      border: none;
    }
    thead {
      tr {
        th {
          background-color: #eeeeee;
          padding: 0.5ch;
        }
      }
    }
    tbody {
      tr:nth-child(even) {
        td {
          background-color: #f6f6f6;
        }
      }
    }
  }

  .bus-schedule {
    a {
      margin-left: 0.5rem;
      color: #000;
      span {
        border-bottom: 1px solid #e7e7e7;
      }
      &:before {
        content: "";
        background-color: #890723;
        border: 1px solid #e7e7e7;
        width: 6px;
        height: 6px;
        display: inline-block;
        margin-right: 5px;
        border-radius: 50%;
        position: relative;
        top: -3px;
        transition: 0.3s ease transform;
      }
      &:hover {
        span {
          border-color: #000;
        }
        &:before {
          transform: scale(1.6);
        }
      }
    }
  }

  .custom-positioned,
  .injected-component {
    &.injected-mostpopular {
      a > * {
        font-weight: normal;
      }
    }

    h5 {
      font: 700 1.25rem / 1.3 $serif;
      margin: unset;
    }
    h6 {
      font-size: 1rem;
      line-height: 1.6rem;
      margin: unset;
    }

    &.relatedarticle .related-article-frame {
      border: 1px solid $border-color;
      margin: 1.5rem 0;
      padding: 1rem;
      @include media-breakpoint-up(sm) {
        margin: 2.5rem 0;
        padding: 2rem;
      }
      .img-box {
        @include media-breakpoint-up(md) {
          float: left;
          margin-left: unset;
          margin-right: 0.75rem;
          margin-top: 11px;
        }
      }
      [class^="default-article-headline-"] {
        @include media-breakpoint-only(xs) {
          -webkit-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
        }
      }
    }

    .article-list-box.favourites .article-list-box-item {
      border-bottom: none;
      padding: 0.5rem 0;
    }

    &[id^="poll"] {
      .custom-article-components-article-title {
        margin-left: unset;
      }
      form {
        .poll-table {
          .poll-table-row {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            border-bottom: 1px solid rgba($dark, 0.05);

            @include media-breakpoint-down(md) {
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
            }

            &.is-answered {
              background-color: #efefef;
              border-bottom: unset;
            }

            &:last-child {
              border-bottom: unset;
            }

            .poll-table-answer-text {
              margin-right: auto;
              display: inline-flex;
              justify-content: flex-start;
              align-items: center;
              flex-direction: row;
              padding: 0.25rem;
              color: #272727;

              label {
                --size: 1.5rem;
                --color: #{$gray-600};
                display: inline-flex;
                align-items: center;
                margin: unset;

                span {
                  width: var(--size);
                  height: var(--size);
                  line-height: var(--size);
                  font-size: var(--size);
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  border: 1px solid var(--color);
                  cursor: pointer;
                  color: transparent;
                }

                input[type="radio"] {
                  display: none;

                  & + span {
                    border-radius: 50%;
                  }

                  &:checked + span {
                    box-shadow: inset 0 0 0 2px white,
                      inset 0 0 0 var(--size) var(--color);
                  }
                }

                input[type="checkbox"] {
                  display: none;

                  &:checked + span {
                    color: var(--color);
                  }
                }
              }
            }

            .poll-table-stats {
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: row;
              padding: 0.25rem;
              min-width: 200px;

              @include media-breakpoint-down(md) {
                justify-content: flex-start;
              }

              .poll-table-percent {
                padding-left: 1rem;
                color: #dc9179;
                font-weight: 900;
                text-align: left;
                white-space: nowrap;
                width: 55px;

                @include media-breakpoint-down(md) {
                  padding-left: unset;
                  padding-right: 0.5rem;
                  width: auto;
                }
              }

              .poll-table-count {
                padding-left: 1rem;
                padding-right: 1rem;
                color: #272727;
                white-space: nowrap;

                @include media-breakpoint-down(md) {
                  padding-left: unset;
                }
              }
            }
          }
        }
      }

      .poll-answer {
        margin-left: 2rem;
      }
    }
  }
}

.poll-answered-image img {
  max-width: 180px !important;
}
