.opener {
    cursor: pointer;
}
.opener img {
    max-height: 230px !important;
    display: block;
}

.lightboxcontainer {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0px;
    padding: 10px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2001;
    background: rgba(0, 0, 0, 0.8);
}

.lightboxcontainer img {
    max-height:90vh !important;
    max-width:90vw !important;
}