

<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> articles/ArticleVideo.js</title>

  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script src="./build/entry.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700|Inconsolata,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://jmblog.github.io/color-themes-for-google-code-prettify/themes/tomorrow-night.min.css">
  <link type="text/css" rel="stylesheet" href="styles/app.min.css">
  <link type="text/css" rel="stylesheet" href="styles/iframe.css">
  <link type="text/css" rel="stylesheet" href="">
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  
</head>



<body class="layout small-header">
    <div id="stickyNavbarOverlay"></div>
    

<div class="top-nav">
    <div class="inner">
        <a id="hamburger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <div class="logo">
            
            
        </div>
        <div class="menu">
            
            <div class="navigation">
                <a
                    href="index.html"
                    class="link"
                >
                    API Documentation
                </a>
                
                
                
            </div>
        </div>
    </div>
</div>
    <div id="main">
        <div
            class="sidebar "
            id="sidebarNav"
        >
            
            <nav>
                
                    <h2><a href="index.html">Documentation</a></h2><div class="category"><h3>Global</h3><ul><li><a href="global.html#ArticleButton">ArticleButton</a></li><li><a href="global.html#ArticleHorizontalNormal">ArticleHorizontalNormal</a></li><li><a href="global.html#ArticleHorizontalWithHeading">ArticleHorizontalWithHeading</a></li><li><a href="global.html#ArticleTitle">ArticleTitle</a></li><li><a href="global.html#ArticleVerticalBig">ArticleVerticalBig</a></li><li><a href="global.html#ArticleVerticalNormal">ArticleVerticalNormal</a></li><li><a href="global.html#ArticleVerticalSection4">ArticleVerticalSection4</a></li><li><a href="global.html#ArticleVerticalWithHeading">ArticleVerticalWithHeading</a></li><li><a href="global.html#ArticleVideo">ArticleVideo</a></li><li><a href="global.html#CustomDivider">CustomDivider</a></li><li><a href="global.html#SidebarArticles">SidebarArticles</a></li></ul></div>
                
            </nav>
        </div>
        <div class="core" id="main-content-wrapper">
            <div class="content">
                <header class="page-title">
                    <p>Source</p>
                    <h1>articles/ArticleVideo.js</h1>
                </header>
                



    
    <section>
        <article>
            <pre class="prettyprint source linenums"><code>import React from "react";

/**
 * ArticleVideo component.
 * @component
 * @param {string} headline - The headline.
 * @param {array} headings - The list of headings.
 * @param {string} headings.name - The name of heading.
 * @param {string} imgURL - The path of the image.
 */

const ArticleVideo = ({ headline, headings, imgURL }) => {
  return (
    &lt;div className="components-elements-articles-article-video px-2">
      {imgURL &amp;&amp; (
        &lt;div className="img-box mb-3">
          &lt;img
            className="img rounded Ximg-optimizer"
            src={imgURL}
            alt="Article Thumbnail"
          />
        &lt;/div>
      )}

      &lt;div className="mb-2">
        {(headings || []).map((heading, index) => (
          &lt;span
            key={`article-video-index-${index}`}
            className="default-heading-normal"
          >
            {heading}
            {index + 1 != headings.length ? ", " : ""}
          &lt;/span>
        ))}
      &lt;/div>

      {headline &amp;&amp; (
        &lt;div>
          &lt;h5 className=" mb-0 default-article-headline-normal">
            &lt;img
              className="Ximg-optimizer d-inline-flex mb-1 mr-2"
              src="images/logos/fmc_emblema_color.svg"
              style={{ width: "15px", height: "15px" }}
            />
            {headline}
          &lt;/h5>
        &lt;/div>
      )}
    &lt;/div>
  );
};

export default ArticleVideo;
</code></pre>
        </article>
    </section>




            </div>
            
            <footer class="footer">
                <div class="content has-text-centered">
                    <p>Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc 3.6.6</a></p>
                    <p class="sidebar-created-by">
                        <a href="https://github.com/SoftwareBrothers/better-docs" target="_blank">BetterDocs theme</a> provided with <i class="fas fa-heart"></i> by 
                        <a href="http://softwarebrothers.co" target="_blank">SoftwareBrothers - JavaScript Development Agency</a>
                    </p>
                </div>
            </footer>
            
        </div>
        <div id="side-nav" class="side-nav">
        </div>
    </div>
<script src="scripts/app.min.js"></script>
<script>PR.prettyPrint();</script>
<script src="scripts/linenumber.js"> </script>

</body>
</html>
