

<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> articles/ArticleComponents.js</title>

  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script src="./build/entry.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700|Inconsolata,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://jmblog.github.io/color-themes-for-google-code-prettify/themes/tomorrow-night.min.css">
  <link type="text/css" rel="stylesheet" href="styles/app.min.css">
  <link type="text/css" rel="stylesheet" href="styles/iframe.css">
  <link type="text/css" rel="stylesheet" href="">
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  
</head>



<body class="layout small-header">
    <div id="stickyNavbarOverlay"></div>
    

<div class="top-nav">
    <div class="inner">
        <a id="hamburger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <div class="logo">
            
            
        </div>
        <div class="menu">
            
            <div class="navigation">
                <a
                    href="index.html"
                    class="link"
                >
                    API Documentation
                </a>
                
                
                
            </div>
        </div>
    </div>
</div>
    <div id="main">
        <div
            class="sidebar "
            id="sidebarNav"
        >
            
            <nav>
                
                    <h2><a href="index.html">Documentation</a></h2><div class="category"><h3>Global</h3><ul><li><a href="global.html#ArticleButton">ArticleButton</a></li><li><a href="global.html#ArticleHorizontalNormal">ArticleHorizontalNormal</a></li><li><a href="global.html#ArticleHorizontalWithHeading">ArticleHorizontalWithHeading</a></li><li><a href="global.html#ArticleTitle">ArticleTitle</a></li><li><a href="global.html#ArticleVerticalBig">ArticleVerticalBig</a></li><li><a href="global.html#ArticleVerticalNormal">ArticleVerticalNormal</a></li><li><a href="global.html#ArticleVerticalSection4">ArticleVerticalSection4</a></li><li><a href="global.html#ArticleVerticalWithHeading">ArticleVerticalWithHeading</a></li><li><a href="global.html#ArticleVideo">ArticleVideo</a></li><li><a href="global.html#CustomDivider">CustomDivider</a></li><li><a href="global.html#SidebarArticles">SidebarArticles</a></li></ul></div>
                
            </nav>
        </div>
        <div class="core" id="main-content-wrapper">
            <div class="content">
                <header class="page-title">
                    <p>Source</p>
                    <h1>articles/ArticleComponents.js</h1>
                </header>
                



    
    <section>
        <article>
            <pre class="prettyprint source linenums"><code>import Router from "next/router";

/**
 * ArticleTitle component.
 * @component
 * @param {string} title - The title of the SidebarArticles components.
 * @param {object} [icon={}] - The icon object should contain the border color and the path of the icon.
 * @param {string} [icon.path=""] - The path of the icon.
 * @param {string} [icon.color="red"] - The color of the border. Default style is red.
 * @param {object} [action="{}"] - The action object should contain a text and a routing url.
 * @param {string} action.text - The text of the action.
 * @param {string} action.url - The url of the action.
 */
const ArticleTitle = ({ title, icon, action }) => {
  const handleOnClick = (url) => {
    // TODO: Delete me
    alert(`Navigated to: "${url}" url.`);
    // Router.push(url);
  };

  return (
    &lt;div
      className="elements-articles-article-components-article-title d-flex justify-content-between mb-1"
      style={{ borderBottom: `2px solid ${icon?.color ? icon.color : "red"}` }}
    >
      &lt;div className="d-flex align-items-center">
        {icon?.path &amp;&amp; (
          &lt;img className="mr-2 icon-left" src={icon.path} alt="Logo" />
        )}
        {title &amp;&amp; &lt;h5 className="mb-0 default-section-title">{title}&lt;/h5>}
      &lt;/div>

      {action &amp;&amp; (
        &lt;div
          className="d-flex align-items-center action"
          onClick={() => handleOnClick(action.url)}
        >
          &lt;span className="mr-2">{action.text}&lt;/span>
          &lt;img src="images/icons/arrow-right.svg" />
        &lt;/div>
      )}
    &lt;/div>
  );
};

/**
 * ArticleButton component.
 * @component
 * @param {string} text - The text of the button.
 * @param {string} url - The path of the route.
 */
const ArticleButton = ({ text, url }) => {
  const handleOnClick = (url) => {
    // TODO: Delete me
    alert(`Navigated to: "${url}" url.`);
    // Router.push(url);
  };

  return (
    &lt;div className="elements-articles-article-components-article-button">
      {url &amp;&amp; (
        &lt;div
          className="btn d-flex align-items-center"
          onClick={() => handleOnClick(url)}
        >
          &lt;span className="mr-2">{text}&lt;/span>
          &lt;img src="images/icons/arrow-right.svg" />
        &lt;/div>
      )}
    &lt;/div>
  );
};

export { ArticleTitle, ArticleButton };
</code></pre>
        </article>
    </section>




            </div>
            
            <footer class="footer">
                <div class="content has-text-centered">
                    <p>Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc 3.6.6</a></p>
                    <p class="sidebar-created-by">
                        <a href="https://github.com/SoftwareBrothers/better-docs" target="_blank">BetterDocs theme</a> provided with <i class="fas fa-heart"></i> by 
                        <a href="http://softwarebrothers.co" target="_blank">SoftwareBrothers - JavaScript Development Agency</a>
                    </p>
                </div>
            </footer>
            
        </div>
        <div id="side-nav" class="side-nav">
        </div>
    </div>
<script src="scripts/app.min.js"></script>
<script>PR.prettyPrint();</script>
<script src="scripts/linenumber.js"> </script>

</body>
</html>
