$dark-bg-color: #0d0b20;
$dark-text-color: #888;
$dark-text-color-light: #ccc;
$dark-border-color: #272447;
$dark-border-color-light: #413c78;

.dark-mode-switcher {
  .dark-mode-icon {
    margin-left: 1rem;
    cursor: pointer;
    &:hover {
      svg {
        path {
          fill: $primary;
        }
      }
    }
  }
  &.sticky-bar-switcher {
    &:not(.sticking) {
      display: none;
    }
    &.sticking {
      position: absolute;
      right: 55px;
      background: #fafafa;
      padding-right: 15px;
      height: 27px;
    }
  }
}

html.dark-mode {
  #wysiwyg-content.wysiwyg-lead,
  .wysiwyg-content.wysiwyg-lead {
    border-color: $dark-border-color-light;
  }

  .front-page-news-1 .display-as-tag {
    &:not(.is-very-sensitive):not(.is-sensitive) {
      background-color: $red;
    }

    &:not(.hide-underline):hover {
      text-decoration: underline;
    }
  }

  .custom-divider .line {
    background-color: $dark-border-color;
  }

  .menu-mobile-modal {
    .modal-content,
    .modal-body,
    .modal-footer {
      background-color: $dark-bg-color;
    }

    .modal-body {
      .tags a .display-as-tag {
        background-color: unset !important;
        color: $red !important;
      }

      > a {
        color: $dark-text-color-light;

        &:hover {
          background-color: $dark-border-color;
          color: $dark-text-color-light;
        }
      }

      .search-mobile {
        input {
          color: $white;
        }
        span {
          color: $dark-text-color-light;
        }
      }
    }

    .modal-title {
      color: $dark-text-color-light;
    }

    .hamburger {
      fill: $dark-text-color !important;
    }

    .close {
      color: $dark-text-color-light;
      text-shadow: unset;
    }

    nav {
      border: unset;
    }

    .scroll-to-newsletter-button {
      background-color: $dark-border-color;
      color: $dark-text-color;
    }

    .newsletter {
      background-color: $dark-border-color;

      h5,
      p {
        color: $dark-text-color-light;
      }

      input {
        &:hover {
          color: $dark-text-color;
          border-color: $dark-text-color;

          &::placeholder {
            color: $dark-text-color !important;
          }
        }
      }

      .newsletter-terms > span {
        color: $dark-text-color-light !important;
      }

      .newsletter-terms label input[type="checkbox"] + span {
        color: transparent !important;
      }

      .newsletter-terms label input[type="checkbox"]:checked + span {
        color: $red !important;
      }

      .btn {
        background-color: $dark-border-color-light;
        color: $dark-text-color-light;
      }
    }

    .social-icons {
      .logo.facebook-icon {
        &:hover {
          circle {
            fill: #3b5998;
          }

          path:not([fill="none"]) {
            fill: #fff;
          }
        }
      }

      .logo.instagram-icon {
        &:hover {
          circle {
            fill: #c13584;
          }

          path:not([fill="none"]) {
            fill: #fff;
          }
        }
      }

      .logo.twitter-icon {
        &:hover {
          circle {
            fill: #1da1f2;
          }

          path:not([fill="none"]) {
            fill: #fff;
          }
        }
      }

      .logo.youtube-icon {
        &:hover {
          circle {
            fill: #f00;
          }

          path:not([fill="none"]) {
            fill: #fff;
          }
        }
      }

      circle {
        fill: #222;
      }
      path:not([fill="none"]) {
        fill: $dark-text-color;
      }
    }
  }

  .pagination {
    .page-item {
      .page-link {
        border-color: $dark-border-color-light;
      }
    }
  }

  .author {
    background-color: unset !important;

    .author-inner {
      background-color: unset !important;
    }
  }

  .wysiwyg-content {
    a {
      color: $red !important;
    }
  }

  #master-layout {
    background-color: #000;
    color: #aaa;

    .dark-mode-icon {
      // margin-left: 1rem;
      cursor: pointer;
      svg {
        path {
          fill: $dark-text-color;
        }
      }
    }

    *:not(.default-article-headline-highlighted):not(.badge):not(.facebook-page__badge):not(.tags
        a):not(.breaking-news-stripe):not(.breaking-news-stripe
        p):not(.bull):not(.newsletter .btn):not(.newsletter
        form
        .newsletter-terms
        label
        input[type="checkbox"]
        + span):not(.poll-table-answer-text
        label
        input[type="checkbox"]
        + span):not(.facebook-page__text-box):not(.facebook-page__title):not(.facebook-page__text):not(.custom-article-components-article-title):not(.divider-trio__title-wrapper):not(.wysiwyg-content
        a):not(.custom-divider):not(.custom-divider
        .line):not(.display-as-tag):not(.display-as-tag
        span):not(.menu-desktop.desktop *):not(.video-routing) {
      background-color: $dark-bg-color;
      color: $dark-text-color !important;
    }

    .newsletter .btn {
      background-color: $dark-border-color;
      color: $dark-text-color;
    }

    .newsletter form .newsletter-terms label input[type="checkbox"] + span {
      color: transparent !important;
    }

    .newsletter
      form
      .newsletter-terms
      label
      input[type="checkbox"]:checked
      + span {
      color: $red !important;
    }

    .facebook-page__text-box {
      background-color: rgba(#000, 0.7) !important;

      .facebook-page__title {
        background-color: unset !important;
        color: #aaa !important;
      }
      .facebook-page__text {
        background-color: unset !important;
        color: #aaa !important;
        opacity: 1 !important;
      }
    }

    .divider-trio__title-wrapper {
      margin-bottom: unset !important;
    }

    .custom-article-components-article-title {
      background-color: unset !important;
      border-bottom: 2px solid $red !important;
    }

    .fehervar-hetilap-border-bottom-color {
      border-bottom: 2px solid $dark-border-color-light !important;
    }

    .article-list-box-item.listed-content-item {
      h6 {
        text-decoration: unset !important;
      }
    }

    .breaking-news-stripe span,
    .breaking-news-stripe div,
    .breaking-news-stripe span p,
    .breaking-news-stripe div p {
      background-color: #fdf333 !important;
      color: $red !important;
    }

    .logobox-textlinks-tags .display-as-tag.has-background {
      background: transparent !important;
      & span {
        color: $red;
      }
    }

    #header .menu-desktop,
    #header .menu-mobile.mobile,
    .global-separated-l,
    .global-separated-x,
    .global-separated,
    .article-list-box .article-list-box-item,
    #header .menu-desktop .search-desktop button,
    #header .logo-fmc nav,
    .menu-mobile-modal .logo-fmc nav,
    #header .apis #weather-api,
    #article
      .similar-articles
      .article-horizontal-normal-item:not(:first-of-type),
    .global-separated-t,
    .global-separated-y,
    .global-separated .global-separated-xl-r,
    .global-separated-xl-x,
    .global-separated-xl,
    .front-page-news-1__masonry,
    .front-page-news-1__masonry-stamp,
    .front-page-news-1__masonry-item,
    .front-page-news-2__masonry-stamp,
    .front-page-news-2__masonry-item,
    .front-page-news-2__masonry {
      border-color: $dark-border-color !important;
    }
    .custom-article-components-article-button,
    .text-advertisement,
    .front-page-news-3__masonry-stamp,
    .front-page-news-3__masonry-item,
    .border {
      border-color: $dark-border-color-light !important;
    }
    .text-advertisement.side,
    .global-separated-sm-b,
    .global-separated-sm-y,
    .global-separated-sm {
      border-color: transparent !important;
    }
    .article-list-box .live-feed-item::before,
    .front-page-news-1__masonry::before,
    .front-page-news-3__masonry::after,
    .front-page-news-1__masonry::after,
    .front-page-news-2__masonry::after {
      background-color: $dark-bg-color !important;
    }
    .search-desktop svg {
      filter: grayscale(1) brightness(2);
    }
    .arrow-right {
      filter: brightness(2);
    }
    #topic-page .topic-menu,
    .front-page-news-3__masonry {
      background-image: none;
    }
    .fade-if-search-is-focused {
      background-image: linear-gradient(
        to right,
        transparent,
        $dark-bg-color 67%
      ) !important;
    }
    .with-vertical-separator::after {
      background-color: $dark-bg-color !important;
    }

    .social-icons {
      .logo.facebook-icon {
        &:hover {
          circle {
            fill: #3b5998;
          }

          path:not([fill="none"]) {
            fill: #fff;
          }
        }
      }

      .logo.instagram-icon {
        &:hover {
          circle {
            fill: #c13584;
          }

          path:not([fill="none"]) {
            fill: #fff;
          }
        }
      }

      .logo.twitter-icon {
        &:hover {
          circle {
            fill: #1da1f2;
          }

          path:not([fill="none"]) {
            fill: #fff;
          }
        }
      }

      .logo.youtube-icon {
        &:hover {
          circle {
            fill: #f00;
          }

          path:not([fill="none"]) {
            fill: #fff;
          }
        }
      }

      circle {
        fill: #222;
      }
      path:not([fill="none"]) {
        fill: $dark-text-color;
      }
    }

    .share-icons svg:hover {
      circle {
        stroke: $dark-border-color-light;
      }
    }

    .share-icons svg:not(:hover) {
      circle {
        stroke: #272447;
      }
      path:not([fill="none"]) {
        fill: $dark-text-color;
      }
    }

    #article-meta .avatar {
      svg {
        path {
          fill: $dark-text-color;
        }
      }
    }
    .banner-slot .banner > .content {
      // background-color: $dark-text-color !important;
    }
    #article h1.titled-cover-image:not(.no-image):not(iframe) span,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $dark-text-color-light !important;
    }
    #wysiwyg-content blockquote::before,
    .wysiwyg-content blockquote::before {
      color: #aaa;
    }

    svg:not(.svg-logo) {
    }
    .default-article-lead-big,
    .default-article-lead-normal {
      font-size: 0.875rem !important;
    }
    .custom-article-vertical-normal .img-box .tags,
    .custom-article-big .img-box .tags,
    .ReactGridGallery_tile-viewport,
    .ReactGridGallery_tile-overlay,
    .search-desktop svg,
    #article
      h1.titled-cover-image
      *:not(span):not(.author):not(.author-inner):not(iframe),
    #header
      .menu-desktop
      .search-desktop
      button.button-if-menu-is-leaving-sticky,
    .dark-mode-switcher.sticky-bar-switcher.sticking {
      background-color: transparent !important;
    }
    #article h1.titled-cover-image:not(.no-image):not(iframe) span {
      background-color: rgba($dark-bg-color, 0.5) !important;
    }
    #MagiCSS-bookmarklet * {
      background-color: #fff !important;
      color: #000 !important;
    }
    .image-gallery-bullets {
      display: none;
    }
    #wysiwyg-content
      .igallery-image.igallery-type-1
      figcaption
      p:not(:empty):last-child:after,
    .igallery
      .image-gallery-content
      .image-gallery-slide
      > div
      .image-gallery-description-container
      span:not(:empty):last-child:after {
      background-image: url(/images/camera-icon-white.png);
    }
    .btn-void {
      color: $dark-text-color !important;
      border-color: $dark-text-color !important;
    }
    .author-inner {
      text-shadow: 0px -2px 0px #000, 2px 0px 0px #000, 0px 2px 0px #000,
        -2px 0px 0px #000, -2px -2px 0px #000, 2px 2px 0px #000,
        -2px 2px 0px #000, 2px -2px 0px #000 !important;
    }

    *.newsletter {
      button[type="submit"] {
        background-color: #272447 !important;
      }
    }

    .display-as-tag.has-background:not(.is-highlighted):not(.is-very-sensitive):not(.is-sensitive) {
      background-color: $dark-bg-color;
      padding-left: unset;
    }

    .display-as-tag.has-black-text,
    .display-as-tag.has-black-text span {
      color: $dark-text-color;
    }

    // .fb-comment-wrapper {
    //   background: #999 !important;
    //   * {
    //     background: #999 !important;
    //   }
    // }
  }
}
