@use "sass:map";

$global-directions: (
  t: (
    name: top,
    axis: y,
  ),
  r: (
    name: right,
    axis: x,
  ),
  b: (
    name: bottom,
    axis: y,
  ),
  l: (
    name: left,
    axis: x,
  ),
);
$global-breakpoints: map.keys($grid-breakpoints);
$global-first-breakpoint: xs;

@function normalize-map($map, $keys, $first-key, $default-value) {
  $_value: map.get(
    map.merge(
      (
        $first-key: $default-value,
      ),
      $map
    ),
    $first-key
  );
  $_map: ();
  @each $_key in $keys {
    @if map.has-key($map, $_key) {
      $_value: map.get($map, $_key);
    }
    $_map: map.set($_map, $_key, $_value);
  }
  @return $_map;
}

@function normalize-space-map(
  $space-map: (),
  $breakpoints: $global-breakpoints,
  $first-breakpoint: $global-first-breakpoint
) {
  @return normalize-map($space-map, $breakpoints, $first-breakpoint, 0);
}

@function normalize-space-direction-map(
  $space-direction-map: (),
  $directions: map.keys($global-directions),
  $breakpoints: $global-breakpoints,
  $first-breakpoint: $global-first-breakpoint
) {
  $_space-direction-map: ();
  @each $_direction in $directions {
    $_space-map: map.get($space-direction-map, $_direction);
    @if $_space-map {
      $_space-direction-map: map.set(
        $_space-direction-map,
        $_direction,
        normalize-space-map($_space-map, $breakpoints, $first-breakpoint)
      );
    } @else {
      $_space-direction-map: map.set(
        $_space-direction-map,
        $_direction,
        normalize-space-map(
          $breakpoints: $breakpoints,
          $first-breakpoint: $first-breakpoint,
        )
      );
    }
  }
  @return $_space-direction-map;
}

@function get-space-difference-map(
  $outer-space-map: (),
  $inner-space-map: (),
  $breakpoints: $global-breakpoints
) {
  $_outer-space-map: normalize-space-map($outer-space-map);
  $_inner-space-map: normalize-space-map($inner-space-map);
  $_space-difference-map: ();
  @each $_breakpoint in $breakpoints {
    $_space-difference-map: map.set(
      $_space-difference-map,
      $_breakpoint,
      (
        map.get($_outer-space-map, $_breakpoint) -
          map.get($_inner-space-map, $_breakpoint)
      )
    );
  }
  @return $_space-difference-map;
}

@function get-space-difference-direction-map(
  $outer-space-direction-map: (),
  $inner-space-direction-map: (),
  $directions: map.keys($global-directions),
  $breakpoints: $global-breakpoints
) {
  $_outer-space-direction-map: normalize-space-direction-map(
    $outer-space-direction-map
  );
  $_inner-space-direction-map: normalize-space-direction-map(
    $inner-space-direction-map
  );
  $_space-difference-direction-map: ();
  @each $_direction in $directions {
    $_space-difference-direction-map: map.set(
      $_space-difference-direction-map,
      $_direction,
      get-space-difference-map(
        map.get($_outer-space-direction-map, $_direction),
        map.get($_inner-space-direction-map, $_direction),
        $breakpoints
      )
    );
  }
  @return $_space-difference-direction-map;
}

@mixin create-padding-classes(
  $space-direction-map: (),
  $base-class-name: "",
  $directions: $global-directions,
  $breakpoints: $global-breakpoints
) {
  $_space-direction-map: normalize-space-direction-map($space-direction-map);

  @each $_direction, $_direction-properties in $directions {
    $_direction-axis: map.get($_direction-properties, axis);
    $_direction-name: map.get($_direction-properties, name);
    $_space-map: map.get($_space-direction-map, $_direction);

    .#{$base-class-name}-p#{$_direction},
    .#{$base-class-name}-p#{$_direction-axis},
    .#{$base-class-name}-p {
      @each $_breakpoint in $breakpoints {
        @include media-breakpoint-up($_breakpoint) {
          padding-#{$_direction-name}: map.get(
            $_space-map,
            $_breakpoint
          ) !important;
        }
      }
    }

    .#{$base-class-name}-reset-p#{$_direction},
    .#{$base-class-name}-reset-p#{$_direction-axis},
    .#{$base-class-name}-reset-p {
      padding-#{$_direction-name}: 0 !important;
    }

    @each $_breakpoint in $breakpoints {
      .#{$base-class-name}-#{$_breakpoint}-p#{$_direction},
      .#{$base-class-name}-#{$_breakpoint}-p#{$_direction-axis},
      .#{$base-class-name}-#{$_breakpoint}-p {
        @include media-breakpoint-up($_breakpoint) {
          padding-#{$_direction-name}: map.get(
            $_space-map,
            $_breakpoint
          ) !important;
        }
      }

      .#{$base-class-name}-reset-#{$_breakpoint}-p#{$_direction},
      .#{$base-class-name}-reset-#{$_breakpoint}-p#{$_direction-axis},
      .#{$base-class-name}-reset-#{$_breakpoint}-p {
        @include media-breakpoint-up($_breakpoint) {
          padding-#{$_direction-name}: 0 !important;
        }
      }
    }
  }
}

@mixin create-border-classes(
  $base-class-name: "",
  $border: (
    $global-separator !important,
  ),
  $directions: $global-directions,
  $breakpoints: $global-breakpoints
) {
  $_border-reset: (0 !important);

  @each $_direction, $_direction-properties in $directions {
    $_direction-axis: map.get($_direction-properties, axis);
    $_direction-name: map.get($_direction-properties, name);

    .#{$base-class-name}-#{$_direction},
    .#{$base-class-name}-#{$_direction-axis},
    .#{$base-class-name} {
      @each $_breakpoint in $breakpoints {
        border-#{$_direction-name}: $border;
      }
    }

    .#{$base-class-name}-reset-#{$_direction},
    .#{$base-class-name}-reset-#{$_direction-axis},
    .#{$base-class-name}-reset {
      border-#{$_direction-name}: $_border-reset;
    }

    @each $_breakpoint in $breakpoints {
      .#{$base-class-name}-#{$_breakpoint}-#{$_direction},
      .#{$base-class-name}-#{$_breakpoint}-#{$_direction-axis},
      .#{$base-class-name}-#{$_breakpoint} {
        @include media-breakpoint-up($_breakpoint) {
          border-#{$_direction-name}: $border;
        }
      }

      .#{$base-class-name}-reset-#{$_breakpoint}-#{$_direction},
      .#{$base-class-name}-reset-#{$_breakpoint}-#{$_direction-axis},
      .#{$base-class-name}-reset-#{$_breakpoint} {
        @include media-breakpoint-up($_breakpoint) {
          border-#{$_direction-name}: $_border-reset;
        }
      }
    }
  }
}

@mixin recursive-reset-margin-top {
  margin-top: 0 !important;

  > :first-child {
    margin-top: 0 !important;

    > :first-child {
      margin-top: 0 !important;

      > :first-child {
        margin-top: 0 !important;

        > :first-child {
          margin-top: 0 !important;
        }
      }
    }
  }
}

@mixin recursive-reset-margin-bottom {
  margin-bottom: 0 !important;

  > :last-child {
    margin-bottom: 0 !important;

    > :last-child {
      margin-bottom: 0 !important;

      > :last-child {
        margin-bottom: 0 !important;

        > :last-child {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

@mixin recursive-reset-margin-y {
  @include recursive-reset-margin-top;
  @include recursive-reset-margin-bottom;
}
