@import "./global-spaces-utilities";

// CUSTOM VALUES

// Global separator

$global-separator-width: 1px;
$global-separator-style: solid;
$global-separator-color: $border-color;
$global-separator: $global-separator-width $global-separator-style
  $global-separator-color;

// Global spaces

$global-limiter-max-width: 1920px;
// $global-limiter-max-width: 1280px;

// full
$global-item-space-map: (
  t: (
    xs: 1.5rem,
  ),
  r: (
    xs: 1rem,
    md: 1.75rem,
  ),
  b: (
    xs: 1.5rem,
  ),
  l: (
    xs: 1rem,
    md: 1.75rem,
  ),
);
$global-item-space-map: normalize-space-direction-map($global-item-space-map);

// full
$global-box-space-map: (
  t: (
    xs: 1.75rem,
  ),
  r: (
    xs: 1rem,
    md: 1.75rem,
  ),
  b: (
    xs: 1.75rem,
  ),
  l: (
    xs: 1rem,
    md: 1.75rem,
  ),
);
$global-box-space-map: normalize-space-direction-map($global-box-space-map);

// difference
$global-box-space-difference-map: get-space-difference-direction-map(
  $global-box-space-map,
  $global-item-space-map
);

// full
$global-section-space-map: (
  t: (
    xs: 1.75rem,
  ),
  r: (
    xs: 1rem,
    md: 1.75rem,
  ),
  b: (
    xs: 2.25rem,
    md: 2.75rem,
  ),
  l: (
    xs: 1rem,
    md: 1.75rem,
  ),
);
$global-section-space-map: normalize-space-direction-map(
  $global-section-space-map
);

// difference
$global-section-space-difference-map: get-space-difference-direction-map(
  $global-section-space-map,
  $global-box-space-map
);

// only difference
$global-limiter-space-difference-map: (
  t: (),
  r: (
    xs: 0.25rem,
    md: 0.375rem,
  ),
  b: (),
  l: (
    xs: 0.25rem,
    md: 0.375rem,
  ),
);
$global-limiter-space-difference-map: normalize-space-direction-map(
  $global-limiter-space-difference-map
);
