/**
 * lineClamp mixin.
 * Used for cutting down the last characters in last row.
 * @param {number} - The number of rows needed.
 * @param {string} - The direction of cutting. Can be "vertical" or "horizontal". This is optional.
 * Examples of usage in another scss file: "@include lineClamp(3);", "@include lineClamp(3, horizontal);", ect.
 */
@mixin lineClamp($number, $direction: vertical) {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: start;
  -ms-flex-align: start;

  /* Firefox */
  display: -moz-box;
  -moz-box-pack: start;
  -moz-box-align: start;

  /* Safari, Chrome, and Opera */
  display: -webkit-box;
  -webkit-box-pack: start;
  -webkit-box-align: start;

  overflow: hidden;
  white-space: normal;
  -webkit-box-orient: $direction;
  box-orient: $direction;
  -webkit-line-clamp: $number;
  line-clamp: $number;
}

/**
 * fullCentering mixin.
 * Parent element's position cannot be static.
 */
@mixin fullCentering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
