@import "./variables";
@import "./mixins";
/**
 * You can find helper classes here for:
 * Image optimizer/sizer
 * Section Title
 * Headings
 * Headlines
 * Leads
 * Badges
 * Article title
 * Cursor (helper class for pointer)
 */

/** For pictures to keep original aspect-ratio */
.Ximg-optimizer {
  // Centering the image
  background-size: cover;
  background-position: center center;

  // Set aspect-ratio
  -o-object-fit: cover !important;
  object-fit: cover !important;
  -o-object-position: center;
  object-position: center;
}

/** SECTION TITLE */
.default-section-title {
  line-height: 1.3 !important;
  color: $default-gray;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: $serif;
}

/** HEADINGS START */
.default-heading-uppercase,
.default-heading-normal {
  color: $red;
  font-family: $font-family-serif;
  font-weight: 500;
  letter-spacing: 0;
  font-size: 0.75rem;
}

.default-heading-uppercase {
  line-height: 1.5rem;
  text-transform: uppercase;
}

.default-heading-normal {
  line-height: 1.125rem;
}
/** HEADINGS END */

/** HEADLINES START */
.default-article-headline-big,
.default-article-headline-normal,
.default-article-headline-small {
  font-family: $font-family-sans;
  color: $default-gray;
  letter-spacing: 0;
  font-weight: 600;
  // -webkit-hyphens: auto;
  // -ms-hyphens: auto;
  // hyphens: auto;
}

.default-article-headline-big {
  line-height: 2.25rem;
  font-size: 1.75rem;
}

.default-article-headline-normal {
  line-height: 1.625rem;
  font-size: 1.25rem;
}

.default-article-headline-small {
  line-height: 1.375rem;
  font-size: 1rem;
}

.default-article-headline-highlighted {
  line-height: 1.4;
  margin: 0 -0.5rem;
  border-top: 0.25rem solid transparent;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.25rem solid transparent;
  background-color: $red;
  color: white;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  // -webkit-hyphens: auto;
  // -ms-hyphens: auto;
  // hyphens: auto;
}

// ARTICLES' HOVER STATE
[class^="default-article-headline-"]
.text-advertisement__inner, // sponsored
.facebook-page__title {
  transition: text-decoration 0.25s;
}
.article-list-box-item:hover .default-article-headline-small, // sidebars
.text-advertisement:hover .text-advertisement__inner, // sponsored
.facebook-page:hover .facebook-page__title {
  text-decoration: underline;
}

.custom-article-big:hover, // news1 big
.custom-article-vertical-normal:hover, // news1
.custom-article-horizontal-normal:hover, // news2
.custom-article-horizontal-with-heading:hover, // 1.step
.custom-article-vertical-section-4:hover, // new3
.custom-article-video:hover, // multimedia 
.custom-article-vertical-with-heading:hover, // topic suggestion
.article-card-body:hover, // similar art's, tags, topics, 404
.article-in-list:hover {
  [class^="default-article-headline-"] {
    text-decoration: underline;
  }
}

.tags:hover ~ a,
.tags-within:hover ~,
.custom-article-vertical-normal a:first-of-type:hover ~ a,
.custom-article-big a:first-of-type:hover ~ a {
  [class^="default-article-headline-"] {
    text-decoration: none;
  }
}

/** HEADLINES END */

/** LEAD START */
.default-article-lead-big,
.default-article-lead-normal {
  color: $default-gray-light;
  font-family: $font-family-sans;
  line-height: 1.5rem;
  letter-spacing: 0;
  font-size: 0.875rem !important;
}

.default-article-lead-big {
  font-weight: 400 !important;
}

.default-article-lead-normal {
  font-weight: 500 !important;
}
/** LEAD END */

/** BADGES START */
.badge-default,
.badge-gray,
.badge-dark {
  font-family: $font-family-serif !important;
  font-weight: 500 !important;
  line-height: 1.125rem !important;
  letter-spacing: 0 !important;
  font-size: 0.75rem !important;
  padding: 5px !important;
  border-radius: 0 !important;

  &:not(:last-child) {
    margin: 0 5px 5px 0;
  }
}

.badge-default {
  color: white;
  background-color: $red !important;
}

.badge-gray {
  color: $white;
  background-color: $badge-gray !important;
}

.badge-dark {
  color: $white;
  background-color: $badge-dark !important;
}
/** BADGES END */

.cursor-pointer {
  cursor: pointer;
}

.bull {
  color: $red;
}
