@import "./../../base/variables";

.custom-article-components-article-title,
.custom-article-components-article-button {
  .arrow-right_svg__arrow-right path {
    fill: $red;
  }
}

.custom-article-components-article-title {
  // margin-left: $default-article-title-negative-margin-left;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding: 0.3125rem 0.75rem;
  background-color: $gray-250;

  @each $_medium, $_color in $medium-colors {
    &.#{$_medium}-border-bottom-color {
      border-bottom-color: $_color;
    }
  }

  .action {
    cursor: pointer;
    font-weight: bold;
  }

  .action-text {
    color: $default-gray;
    font-weight: 500;
    letter-spacing: 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-top: 0.125rem;
  }

  .icon-left {
    width: 1.375rem;
    height: 1.375rem;
  }
}

.custom-article-components-article-button {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 1px 0;

  .btn {
    background-color: $gray-240;
    padding: 0.625rem 0.375rem;
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 0.75rem;
    font-weight: 500;
    font-family: $sans;
  }
}
