.article-card-horizontal {
  color: unset;
  cursor: pointer;

  .article-card-body {
    min-width: 100%;
    // need for the highlighted state of title by design
    margin-left: -0.5rem;
    padding-left: 0.5rem;

    .default-article-headline-highlighted {
      font-size: 1.25rem;
      font-weight: 600;
    }

    span[class^="gap"] {
      display: block;
      height: 0.5rem;
    }

    .img-box {
      float: right;
      position: relative;
      width: 104px;
      height: 72px;
      margin: 0.5rem 0 0.5rem 0.75rem;

      &.sensitive-tag {
        margin-top: unset;
      }
      &.enlarging {
        @include media-breakpoint-up(md) {
          width: 207px;
          height: 143px;
        }
      }
      &.divider-trio {
        width: 100px;
        height: 100px;
      }

      .img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      .play {
        &-box {
          @include fullCentering;
          z-index: 3;
          width: 32px;
          height: 32px;
          background-color: $white;
          border-radius: 50%;
        }

        &-icon {
          width: 9px;
          height: 12px;
          transform: translateX(15%);
        }
      }
    }
  }
}
