@import "./../../base/mixins";
@import "./../../base/variables";

.custom-article-vertical-with-heading {
  @include recursive-reset-margin-y;

  .img-box {
    position: relative;
    width: 100%;
    // height: 100%;
    height: 160px;
    flex: 0 0 auto;

    .img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .tags {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    .play {
      &-box {
        @include fullCentering;
        z-index: 3;
        width: 40px;
        height: 40px;
        background-color: $white;
        border-radius: 50%;
      }
      &-icon {
        width: 12px;
        height: 15px;
        transform: translateX(15%);
      }
    }
  }

  .headline {
    &-highlighted {
      color: white;
      background-color: $red;
    }
  }
}
