@import "./../../base/mixins";
@import "./../../base/variables";

.custom-article-vertical-normal {
  position: relative;
  @include recursive-reset-margin-y;

  .display-as-tag {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin-right: unset;
    &:hover span {
      text-decoration: underline;
    }
  }

  .img-box {
    position: relative;
    width: 100%;
    height: 200px;
    flex: 0 0 auto;

    .img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .play {
      &-box {
        @include fullCentering;
        z-index: 3;
        width: 40px;
        height: 40px;
        background-color: $white;
        border-radius: 50%;
      }
      &-icon {
        width: 12px;
        height: 15px;
        transform: translateX(15%);
      }
    }
  }
}
