@import "./../../base/mixins";

.custom-article-big {
  position: relative;
  @include recursive-reset-margin-y;

  .display-as-tag {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin-right: unset;
    &:hover span {
      text-decoration: underline;
    }
  }

  .img-box {
    position: relative;
    width: 100%;
    height: 335px;
    overflow: hidden;

    .img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .play {
      &-box {
        @include fullCentering;
        z-index: 3;
        width: 50px;
        height: 50px;
        background-color: $white;
        border-radius: 50%;
      }
      &-icon {
        width: 15px;
        height: 18px;
        transform: translateX(15%);
      }
    }
  }

  .headline {
    &-highlighted {
      color: white;
      background-color: $red;
    }
  }

  @include media-breakpoint-down(sm) {
    .img-box {
      height: 200px;
    }
    .article-big-title,
    .article-big-lead p,
    .article-big-lead .lead {
      text-align: left !important;
    }
    .article-big-title h2 {
      font-size: 1.25rem;
      line-height: 1.625rem;
      text-align: left;
    }
  }

  .display-as-tag {
    margin-top: unset;
  }
}
