@import "./../../base/mixins";
@import "./../../base/variables";

.custom-article-video {
  @include recursive-reset-margin-y;

  &:hover .default-article-headline-normal {
    text-decoration: underline;
  }
  .tags:hover ~ a h5.default-article-headline-normal {
    text-decoration: none;
  }

  .img-box {
    width: 100%;
    position: relative;
    width: 100%;
    height: 200px;
    flex: 0 0 auto;

    .img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .play {
      &-box {
        @include fullCentering;
        z-index: 3;
        width: 40px;
        height: 40px;
        background-color: $white;
        border-radius: 50%;
      }
      &-icon {
        width: 12px;
        height: 15px;
        transform: translateX(15%);
      }
    }
  }
}
