@import "./../../base/mixins";

.custom-article-vertical-section-4 {
  @include recursive-reset-margin-y;

  .tags {
    margin-bottom: 0.5rem;
  }

  > a {
    margin-bottom: 0.25rem;
  }

  .img-box {
    position: relative;
    width: 104px;
    height: 72px;
    flex: 0 0 auto;
    float: right;
    display: block;

    .img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      margin-left: auto;
    }

    .play {
      &-box {
        @include fullCentering;
        z-index: 3;
        width: 32px;
        height: 32px;
        background-color: $white;
        border-radius: 50%;
      }

      &-icon {
        width: 9px;
        height: 12px;
        transform: translateX(15%);
      }
    }
  }

  .headline {
    &-highlighted {
      color: white;
      background-color: $red;
    }
  }

  .lead {
    width: 100%;
  }
}
