@import "./../../base/variables";
@import "./../../base/mixins";

.article-list-box {
  $_space: 1rem;

  &.useful-info h6 {
    text-decoration: underline $gray-260 solid 1px;
  }

  .article-list-box-item {
    border-bottom: $global-separator;
    padding: $_space 0;
  }
  &.favourites h6 {
    position: relative;
    margin-left: 1em;
    &::before {
      position: absolute;
      content: "\2022";
      color: $red;
      margin-left: -1em;
      font-size: 0.85em;
    }
  }

  &:not(.with-last-separator) {
    .article-list-box-item {
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }

  &__text-advertisement-wrapper {
    z-index: 1;
    position: relative;
    margin: calc(#{-$global-separator-width} - #{2 * $_space}) 0;
    padding: 1.25rem 0;
    background-color: $body-bg;
  }

  .listed-content-item {
    border-bottom: 0;
    padding: 1rem 0 0.25rem 0;
    line-height: 1.5rem;
    font-size: 0.875rem;

    .article-list-box__text-advertisement-wrapper {
      margin: 0;
      padding: 0;
      background-color: transparent;
    }

    .default-article-headline-small {
      line-height: 1.5rem;
      font-size: 0.875rem;
      font-weight: 500;
    }

    &:hover {
      .default-article-headline-small {
        color: $blue-link;
      }
    }
  }

  .number {
    padding-right: 0.25rem;
    min-width: 2.5rem;
    line-height: 2.75rem;
    color: $gray-260;
    font-size: 2rem;
    font-weight: 700;
    font-family: $font-family-serif;
  }

  .img-box {
    position: relative;
    width: 104px;
    height: 72px;
    overflow: hidden;
    display: flex;
    flex: 0 0 auto;

    .img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      margin-left: auto;
    }

    .play {
      &-box {
        @include fullCentering;
        z-index: 3;
        width: 32px;
        height: 32px;
        background-color: $white;
        border-radius: 50%;
      }

      &-icon {
        width: 9px;
        height: 12px;
        transform: translateX(15%);
      }
    }
  }

  .bull {
    @include media-breakpoint-up(md) {
      margin-left: $default-article-title-negative-margin-left;
    }
  }

  .live-feed-item {
    position: relative;
    border-bottom: 0;
    padding-bottom: 0.75rem;

    &:last-child {
      padding-bottom: 0;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 1rem;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: $gray-260;
    }

    &:last-child {
      &::before {
        content: none;
      }

      > div {
        padding-bottom: 0 !important;
      }
    }

    &__left-side {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: relative;
      padding-right: 0.25rem;
      min-width: 2.25rem;
    }

    &__time {
      margin: -0.4375rem -0.125rem;
      padding: 0.5rem 0.125rem;
      background-color: $white;
      line-height: normal;
      color: $red;
      font-size: 0.75rem;
      font-weight: 500;
    }

    &__logo {
      margin-right: 0.375rem;
    }
  }

  &.relatedarticle {
    .custom-article-components-article-title {
      border-bottom: 2px solid $red;

      h5 {
        font-size: 20px !important;
        font-weight: 700;
        font-family: "Domine";
        margin: 0 !important;
      }
    }
    .article-list-box-item {
      @include media-breakpoint-down(sm) {
        padding-top: unset !important;
      }
      h6.default-article-headline-normal {
        font-size: 1.25rem !important;
      }
      .img-box {
        margin-right: unset !important;
        margin-left: 1rem !important;
      }
    }
  }
}
